[2014-06-30 16:53] bryce-anderson opened #1 "Get Swagger support fully functional"
Considering self documentation is a core reason for making this framework, this should get done sooner than later as it may have some disruptive effects on the foundation of rho.

[2014-06-30 17:01] bryce-anderson opened #2 "Make 'comment metadata' more intuitive"
Right now the syntax for adding comments to the self documentation are terrible. It would be nice if the comments felt more natural, almost like a Scala comment.

[code]

would feel nice. (I'm not tied to the ~ operator, but we do need one that will take precedence over the compile operator `!>` operator which disqualifies operators starting with `| ^ & < >`)

[2014-06-30 17:27] bryce-anderson opened #3 "Enforcement of path construction grammer"
I made the DSL relatively strict on the ordering with which things can occur. What I mean is that you can't add a query string requirement in the middle of the path requirements. Is this something we want to enforce?

[2014-06-30 17:33] bryce-anderson opened #4 "Cannot add multiple query requirements"
This will require a new operator which would logically be `&`, but that will cause operator precedence issues with the compile operator, `!>`.

[2014-07-02 01:18] bryce-anderson opened #5 "split swagger support into a module"
Swagger and the future HAL support probably belong in modules: they may not be needed by everyone and swagger brings json dependencies.

[2014-07-02 01:40] #3 closed, assigned to nobody

[2014-07-02 12:23] #4 closed, assigned to nobody

[2014-07-02 23:46] #5 closed, assigned to nobody

[2014-07-03 19:42] arouel opened #6 "Error Handling"
If the Rho is more complete we should implement a default error handling.

[code]

[2014-07-03 19:46] arouel opened #7 "Possibility to define a root path"
Currently it is not possible to define the root path with the DSL.

[code]

[2014-07-04 01:33] #7 closed, assigned to nobody

[2014-07-04 03:05] #6 closed, assigned to nobody

[2014-07-04 07:21] arouel opened #8 "Provide URI and URI template of a route definition"
Specifications that can be used to self describe (e.g. Swagger, JSON HAL) web services use URI [RFC3986](http://tools.ietf.org/html/rfc3986) and URI Template [RFC6570](http://tools.ietf.org/html/rfc6570) often.

It would be helpful be able to transform a route definition into a URI or URI Template. For example, this would lower the amount of redundant code when working with JSON HAL to describe re

[2014-07-07 10:05] arouel opened #9 "Possibility to define a path with a query without HTTP method specification"
It would be helpful to be able to define a path with a query without the need to specify a HTTP method.

[code]

[2014-07-07 21:17] arouel opened #10 "Replace usage of Manifest"
Should we replace `Manifest` by `TypeTag`?

[2014-07-08 00:49] #10 closed, assigned to nobody

[2014-07-09 12:25] #9 closed, assigned to nobody

[2014-07-09 21:39] #8 closed, assigned to nobody

[2014-07-09 22:45] arouel opened #11 "Routing requests with parameters"
Differ between optional and required parameters when routing a request.

[code]
1. Passing `GET /` to this routing table the first definition should match
2. Passing `GET /?bar=1` also the first definition should match
3. Passing `GET /?foo=2` the second definition should match
4. Passing `GET /?foo=2&bar=1` the third definition should match

Does it make sense to build a tree of actions and deter

[2014-07-12 21:25] arouel opened #12 "Provide rule when a default parameter value should be used"
Lets say we have the following query parameters

[code]

and we want to apply the default values always if a given predicate evaluates `true`.

[code]

[2014-07-21 14:20] bryce-anderson opened #13 "Should SwaggerSupport be an abstract class?"
Right now in the [topic/swagger](https://github.com/http4s/rho/tree/topic/swagger) branch SwaggerSupport is a trait. Swagger needs some info such as the api version, api-path, etc, which is a bit ugly in a trait as they must be provided by a `def` or even worse, a `val`. With an abstract class, that info could be provided as constructor params, but limits its ability to be stacked, resulting in ne

[2014-07-21 18:27] #13 closed, assigned to nobody

[2014-07-22 01:10] bryce-anderson opened #14 "Authorization"
It would be nice to support authorizations directly in rho. I'm not sure of HAL would benefit from it, but swagger would.
**Prior Art:**
- [Scalatra](http://scalatra.org/2.3/guides/http/authentication.html) (suggested to be not so good by @casualjim)
- By proxy, [Warden](https://github.com/hassox/warden/wiki)

[2014-07-22 13:14] bryce-anderson opened #15 "Decoders are ugly"
I think the decoders need some help. The syntax is ugly, and we should watch how the body decoders of http4s evolve so we can reuse as much of that as possible.

[2014-07-23 00:44] #1 closed, assigned to nobody

[2014-07-23 01:13] bryce-anderson opened #17 "Get SNAPSHOTs working"
I suspect this is my problem.

[2014-07-23 17:59] bryce-anderson opened #19 "Explore the idea of a 'parsing failure strategy'"
@before had the good idea of allowing for different strategies with regard to parser failure.
Questions that should be addressed:
- What is the scope of the strategy? Eg, is this limited to the query.
- What types should this deal in? The scalaz `Validation` comes to mind, but I don't know if it fits well.
- How is the strategy specified? Eg, is it captured as an implicit, a member function of the

[2014-07-23 20:47] #12 closed, assigned to nobody

[2014-07-31 12:34] bryce-anderson opened #20 "Require a route to respond with a status"
Right now we can return any `T` for which exists in scope a `Writable[T]`. This is provided using a chain of implicits starting with `HListToFunc -> ObjToResponse -> Writable`.
It has become apparent that this is a brittle endevor, and It might be better to enforce a bit of order much like the http4s dsl has, namely a series of operators such as OK etc. This will  cut out the `ObjToResponse` at th

[2014-08-06 14:43] arouel opened #21 "Resource definitions in Swagger"
In case I wanna define a resource in more detail how would I do that?

Lets say I have the following routing.

[code]

And I want to create a definition that looks like this http://petstore.swagger.wordnik.com/#!/pet/findPetsByTags.

How would I provide a Data Type definition to a resource?

[2014-08-06 15:10] arouel opened #22 "How to exclude resources from SwaggerSupport"
I wanna exclude some resources from the API listing when using `SwaggerSupport`. How should we mark a route definition to be excluded?

[2014-08-14 00:07] bryce-anderson opened #24 "Refactor imports to mirror those of Http4s"
The import style of Http4s has been changing, and I think rho should follow suit. Here is what I propose:

[code]

That would duplicate the Http4s imports, but we may deviate some. First, our route building is based on a trait, so we could include many of those imports in that trait automatically.

[2014-08-19 15:23] #20 closed, assigned to nobody

[2014-08-22 20:10] #24 closed, assigned to nobody

[2014-08-25 10:19] arouel opened #26 "Provide extension point to add custom data type transformations for Swagger"
After juggling around with JSON HAL and Swagger I think we need an extension point in `SwaggerSupport` to be able to add custom transformations for data types. The signature could be `A <: AnyRef => ModelProperty` or `PartialFunction[A <: AnyRef, ModelProperty]`.

I think it should basically work as the serializers in **Json4s**. Maybe we can borrow some code there. Opinions?

[2014-09-07 19:34] arouel opened #28 "Add JSON HAL example"
We should provide a simple example how to create a HTTP service that provides JSON HAL conform content.

[2014-09-18 13:22] bryce-anderson opened #29 "Keep on the lookout for swagger-core 2.0 artifacts"
The swagger 2.0 spec is out, and the jars we need to integrate it should be close behind. We need to keep on the lookout, I want to get this done as soon as possible.

[2014-10-11 12:44] #15 closed, assigned to nobody

[2014-10-11 18:50] #17 closed, assigned to bryce-anderson

[2014-10-24 01:54] #22 closed, assigned to nobody

[2014-10-24 01:58] #2 closed, assigned to nobody

[2014-11-12 17:45] arouel opened #32 "Regard a context path definition when routing requests"
For example, if a custom `RhoService` mounted on `/ws` all requests should be filtered so that the path does not starts with `/ws` anymore.

[2014-11-18 14:45] arouel opened #33 "Custom field serializers will not be regarded"
[code]

The issue is that `SwaggerFormats.customFieldSerializers` is not in use by `TypeBuilder`.

[2014-11-18 16:57] #33 closed, assigned to nobody

[2014-11-19 15:14] bryce-anderson opened #34 "Explore scalaz Validation"
I think there is a lot of potential for integrating the scalaz `Validation` type into rho. It should be explored.

[2014-11-19 16:53] arouel opened #35 "Improve API to make the work with different response types easier"
[code]

This example leads to the following compiler error

[code]

From a usability perspective this should be possible to write without struggling with typing issues.

We should think about if it simplifies our code base by using Swagger Annotations to describe which response codes are in use and what model is in the response body. I would say the EntityResponseGenerator needs to be reworked to

[2014-11-22 01:16] #28 closed, assigned to arouel

[2014-11-22 13:31] #32 closed, assigned to nobody

[2014-11-22 15:43] bryce-anderson opened #36 "Explore CRUD patterns"
CRUD patterns are common and clearly have easy to exploit type information that would fit really well into rho. Perhaps we can provide some abstractions to ease their use.

**Considerations**
- How will rho deal with the multiple methods that CRUD needs without redefining them? (GET, PUT, etc.)
- CRUD resources are exactly the types of things JSON HAL is good for, so how do we make sure they are f

[2014-11-25 12:07] arouel opened #39 "Swagger does not show the model for status OK when having mixed result types"
When having mixed result types Swagger does not render the model in OK route.

[code]

`ModelB` is documented for `NotFound` as expected. For status `Ok` the referenced model is `ModelA` but it is not present in the list of models (only `ModelB` exists).

[2014-11-25 21:44] #39 closed, assigned to nobody

[2014-11-26 15:56] bryce-anderson opened #41 "Decoding syntax sucks"
Stuff like

[code]

doesn't work because of operator precedence, so instead, I'm forced to do

[code]

or some other nonsense.

This should be fixed.

[2014-11-26 17:43] bryce-anderson opened #42 "Evaluate the usefullness of the static RouteExecutor"
The static `RouteExecutor` was nice to bootstrap the project, but I'm not certain it still has a use case. It is used in some tests, but I think those should probably also be changed.

[2014-11-26 19:34] #35 closed, assigned to nobody

[2014-11-26 19:55] bryce-anderson opened #44 "Uncouple the pom from http4s"
With http4s gaining momentum and a lot of bug fix releases on the horizon, it should start maintaining binary compatibility between bugfix releases. That means that if rho wants to get those fixes 'for free' and not need to do a lockstep release with every http4s bugfix, we should think about decoupling the pom from http4s. That will mean that users will need to specify http4s explicitly, but that

[2014-11-27 00:14] #42 closed, assigned to bryce-anderson

[2014-12-09 01:50] #41 closed, assigned to nobody

[2014-12-09 02:09] #44 closed, assigned to nobody

[2014-12-09 02:14] #21 closed, assigned to nobody

[2014-12-09 02:16] #11 closed, assigned to nobody

[2014-12-09 02:27] bryce-anderson opened #46 "General cleanup"
We've come a long ways with rho, and I think its time to take a small step back and do some house cleaning. I don't have anything in particular in mind, but taking a bit if time to clean up the work site seems like a good idea. Additionally, we need to decide what to do next.

__Things that need cleanup__
* Naming. Some things have silly names. ```Validatable```? When did I have that idea?
* Swagg

[2014-12-09 02:28] bryce-anderson opened #47 "Swagger is generating invalid docs"
As noted in #46, the swagger validator has alerted us that the docs generated by the [http4s demo](demo.http4s.org) are invalid.

[2014-12-11 15:03] bryce-anderson opened #48 "How to combine rho services"
It seems like it would be rather nice to smash services together at the rho level, not just the http4s level. That way we can preserve information such as swagger data, etc. However, we need a clean way to do this. As it is, combining a ```RhoService``` with ```SwaggerSupport``` with a standard ```RhoService``` would be an operation that doesn't commute as the standard ```RhoService``` is not awar

[2015-01-07 14:51] bryce-anderson commented on #29
### Update
The java swagger implementation is coming along slowly [here](https://github.com/swagger-api/swagger-core/tree/develop_2.0) and its [looking like there won't be a scala specific version](https://groups.google.com/forum/#!searchin/swagger-swaggersocket/scala/swagger-swaggersocket/hkYc03mO15I/YuVQXdKySPkJ). Perhaps that for the best as it may be a bit more difficult to implement using the

[2015-01-09 14:24] before commented on #29
We could ask @casualjim if he plans to upgrade **swagger-scala** to version 2.0, right?

[2015-01-09 15:02] bryce-anderson commented on #29
In the [second link](https://groups.google.com/forum/#!searchin/swagger-swaggersocket/scala/swagger-swaggersocket/hkYc03mO15I/YuVQXdKySPkJ) (and his post may no longer be accurate) @casualjim states that its unlikely there will be a scala specific version.

[2015-01-09 15:14] before commented on #29
Sorry, have mentioned it too late. Why would we need the Java-based Swagger API and could **swagger-core** be enough for our purpose?

[2015-01-09 15:25] bryce-anderson commented on #29
Sorry, I didn't describe the situation clearly. When I said we should use the java-api, I mean't swagger-core, which is written in java.

[2015-01-09 15:30] before commented on #29
Okay, thank you for clarifying it.

[2015-01-09 15:55] bryce-anderson commented on #29
I tested the latest master of swagger-ui (its pretty easy, just clone the repo and point yourself to the dist/index.html for a working swagger-ui) and it appears that 2.0 is working enough to consider migrating. The only waiting piece is now swagger-core, which may actually be usable, I just don't know.

[2015-02-05 23:10] kryptt opened #50 "Issues around body parameters"
Specifying both

[code]

[code]

in the HttpService fail with the server reporting Invalid Content-Type header

Ehen running through the swagger-ui, in both cases, the browser sent:
Content-Type: "text/*; charset=UTF-8"

[2015-02-09 18:10] refried commented on #50
@kryptt Tell me more about this `ArgonautJSONDecoder`

[2015-02-09 22:48] kryptt commented on #50
@refried Well, it is an object I had written previously that simply decodes a json body into the Login case class I had also written previously. The point was that both custom body decoders and an included text decoder threw exceptions.

This issue is still open because the commit f1807ac prevents the exception, but still does not generate the appropriate swagger metadata...

[2015-02-10 02:58] refried commented on #50
Roger.

[2015-02-10 13:10] bryce-anderson opened #51 "Allow failed validation to yield a Response instead of just a message"
It may be nice to yield a ```401 Unauthorized``` or some other type of status code. It should be easy to implement by changing the [```ParserResult```](https://github.com/http4s/rho/blob/master/core/src/main/scala/org/http4s/rho/bits/ParserResult.scala) types to either have ```ValidationFailure``` contain a ```Response``` or add a new type with the same purpose.

[2015-02-10 13:12] bryce-anderson commented on #50
@kryptt, it seems to me that the problem described in the issue is fixed. Could you close this and open a new issue specific to the invalid swagger docs?

[2015-02-10 18:13] kryptt commented on #50
fair enough

[2015-02-10 18:13] #50 closed

[2015-02-10 18:15] kryptt opened #52 "Body parameters are not being generated"
#50 describes thrown exceptions when attempting to build HttpServices with body parameters.
Currently it is possible to build them, although the generated swagger api does not correctly expose them.

[2015-02-10 18:35] bryce-anderson commented on #29
Artifacts are out. I"m closing this and opening an 'upgrade to swagger-2.0' issue.

[2015-02-10 18:35] #29 closed

[2015-02-10 18:39] bryce-anderson opened #53 "Upgrade to swagger-2.0"
Swagger artifacts are out (in milestone form, but quite usable) now [here](https://github.com/swagger-api/swagger-core/tree/develop_2.0). The most useful are ```swagger-core``` and ```swagger-models```.

The documentation building needs to be nearly complete reworked, but this isn't as bad as it seems as the new swagger spec is much simpler in some ways. There is already a [```topic/swagger2.0```]

[2015-02-10 18:41] bryce-anderson commented on #52
This is a subproblem of #53, the upgrade to swagger 2.0, and will certainly be addressed there.

[2015-02-13 16:48] refried opened #54 "help me organize a documentation feature list?"
Stuff I've noticed in rho:
* route description
* path parameter name
* query parameter name
* result codes
* (somehow) response model for json response
* required headers

Stuff I see in Swagger UI but haven't spotted in rho
* path parameter description
* query parameter description
* required header description

Stuff I can think of but didn't see in Swagger or in rho
* custom reasons for error r

[2015-02-13 20:32] kryptt commented on #51
How about suggest `403 Bad Request` for the status code?

[2015-02-14 01:39] refried opened #55 "consider HTTP 400 over 404 for pathVar parse failures"
Given: https://gist.github.com/refried/0eb77004d2f41c470e71

`curl -v localhost:8081/puppy/bySSN/foo` returns `404` with the body `/puppy/bySSN/foo not found`, which made me think something was wrong with my route, when it was really something wrong with my request (parse failure).

I think there's an argument to be made for `404`; or a different code, or a different body, or maybe the answer is d

[2015-02-14 01:43] bryce-anderson commented on #54
That is a pretty good list of things. Its missing the information about HAL. @before, do you have any suggestions for a HAL feature list?

@refried, rho is currently building models from case class structures based on reflection. I'm not that happy about using reflection, but in this case its pretty convenient. It was based largely on code from the scalatra project [here](https://github.com/scalat

[2015-02-14 02:23] LeifW commented on #55
I'd like to see a `400 Bad Request: foo is not in a format valid for a SSN: xxx-xx-xxxx` in response to this, ideally.

[2015-02-14 02:25] bryce-anderson commented on #55
Documentation is certainly a thing we can improve all around.
I think there is a case to be made for a situation like this but it requires a bit of work in the [```PathTree```](https://github.com/http4s/rho/blob/master/core/src/main/scala/org/http4s/rho/bits/PathTree.scala). In particular, the ```matchString``` method is responsible to checking/parsing the route. Right now it returns a ```HList```

[2015-02-14 02:37] LeifW commented on #55
Maybe the 400 is more appropriate for improperly formatted query params, not routes that we've dictated must be parseable as a some kind of data type?

[2015-02-14 02:43] bryce-anderson commented on #55
@LeifW, that my knee jerk feeling, but I'm far from an expert.

As a counter example, I think a more traditional framework would offer up the strings and it would be up to the route to determine if they are valid or not, in which case they would probably return a 400.

Any thoughts?

[2015-02-14 04:12] LeifW commented on #55
I asked around. "RESTfulness calls for a 404", since a non-404 response would imply the existence of a resource there.  I think I see that behavior elsewhere. Maybe if you want better error messages on these kind of keys, have them as a query param, instead? :/
But, maybe we could still make the body of the 404 more descriptive: "close, but no cigar"?

[2015-02-14 16:24] refried commented on #55
Maybe I'm relatively new to REST, I would love to see more references on what kinds of things should be path params vs query params -- but "query params are used when you want more detailed errors" doesn't scratch the itch for me :-)
My gut sort of says "query params are optional params", but I know that isn't quite right either.

Not sure if there'd be a general way to say "404 because this happe

[2015-02-14 16:28] refried commented on #55
I just realized I don't care at all what the HTTP code is, I just wished for debugging clues.

[2015-02-14 17:13] bryce-anderson commented on #55
Maybe this is a good case for simply adding some debug logging during path evaluation?

[2015-02-14 19:15] refried commented on #55
That could work.  Are there already some logging facilities to plug into?

I mean, a partial solution could also just be "remember how path var parsing works, now that you know", but if there's an easy way to get warnings, why not.

[2015-02-14 19:58] bryce-anderson commented on #55
I don't believe the ```PathTree``` type has any logging in it yet. I don't see a reason not to add it. We've been using log4s which has been really nice.

[2015-02-16 15:47] bryce-anderson commented on #51
PR #56 attempts to address this. @kryptt, @refried, I'd appreciate any input you have.

[2015-02-16 19:53] refried commented on #51
This is really great.  I'm still reading it.  I'm reading the tests/specs to understand, but since tests are often written in their own kind of test DSL, it would be even awesomer if you could add an example of each new feature into the `com.http4s.rho.swagger.demo` package too.

(I'd envision these demo services turning into `tut`orials that teach all of rho at some point.)

[2015-02-16 20:00] bryce-anderson commented on #51
@refried, Good point on the examples.

[2015-02-17 00:28] refried opened #58 "help me understand & document the shapelessness of rho"
"Papa, where do `TypedPaths` come from?"
"Well, that story starts a long time ago, across a distant sea..."

[2015-02-17 13:34] bryce-anderson commented on #58
The primary use of shapeless in rho is for the ```HList``` type signatures. Honestly it wouldn't be too hard to just make a phantom type that can be consed like a ```HList``` and use a normal ```List[Any]``` for the storage, but shapeless is a transient dependency of rho so why not use it?

[```TypedPath```](https://github.com/http4s/rho/blob/72b54152e9165cc5962d0af44f3e7a051ecee640/core/src/main/

[2015-02-17 21:31] refried commented on #58
Side question: what is an action, the part after the `|>>`, or the whole thing?
[code]

[2015-02-17 22:00] bryce-anderson commented on #58
The whole thing. A [```RhoAction```](https://github.com/http4s/rho/blob/master/core/src/main/scala/org/http4s/rho/RhoAction.scala) just holds all the bits of the path definition, the function ```F``` used to execute it (or whatever fits the ```HListToFunc``` paired with it: ```F``` could be a ```Task[Response]``` or even a constant that has a ```EntityEncoder```), and the 'converter' which is the

[2015-02-18 13:49] bryce-anderson commented on #51
@refried, do you have any more comments on #56? I'm considering merging it.

[2015-02-18 14:02] refried commented on #51
No, just that I think some ticket should remain open until examples can be added too.  Otherwise go for it IMO.

[2015-02-18 15:17] bryce-anderson commented on #51
I did add examples [here](https://github.com/http4s/rho/blob/topic/valResponse/examples/src/main/scala/com/http4s/rho/swagger/demo/MyService.scala#L24) and used [here](https://github.com/http4s/rho/blob/topic/valResponse/examples/src/main/scala/com/http4s/rho/swagger/demo/MyService.scala#L71) but perhaps that is a bit hidden. I'm going to open up a new issue category of, surprise, documentation an

[2015-02-18 15:19] bryce-anderson commented on #51
This is added but not yet well documented. I'm opening a new ticket for that.

[2015-02-18 15:19] #51 closed

[2015-02-18 15:23] bryce-anderson opened #59 "Documentation for `requireThatR` and `paramR`"
The two aforementioned methods allow one to define a route requirement that can return an arbitrary response. An example is thus:
[code]

I'm not sure the semantics are perfect: its counter intuitive to interpret a ```None``` as a 'success'.

[2015-02-18 19:44] refried commented on #58
P.S. Get it? The distant island kingdom is the UK.

[2015-02-18 20:37] refried opened #60 "suppose I want to compose two action-do-thingies"
In Play framework (and probably others?) it's common to have a higher-order action that does some processing, and conditionally delegates to another action.

pseudo-code examples:

[code]
which check some properties on the Request and either continue with `f` or return some error.
(Related to #51)

[code]

From what I can tell, in rho, the `F` needs to accept all of the parameters on the `HList` s

[2015-02-18 20:41] refried commented on #60
I guess the Swagger doc generator isn't going to care whether I'm implementing my `F` in a modular way, and that's fine.  But if I still want to?

[2015-02-18 21:05] bryce-anderson commented on #60
Ultimately you can only get nice function composition with ```Function1```. Besides getting path related values, there is no reason you can't just use a ```Request => Response``` and extract the query and header params the neutral way as is done in http4s proper. Of course, whos not going to want path variables?

There is no way to pop parameters off the stack, but it should be doable if we want t

[2015-02-19 00:32] refried commented on #51
Oops yeah I was looking at the wrong commit.  Thanks for adding this!

[2015-02-19 02:07] refried commented on #59
One alternative would be `Failure \/ Unit`, but maybe a custom `Pass`/`Fail` extends `RequirementResult` type (or something) would be clearer

[2015-02-19 02:09] refried commented on #58
Is there more than one `CompileService`?  I could only find one, in `rhoService` so I'm probably looking for the wrong thing.  If one wanted to create a new output format, what would the critical format-specific pieces be?

[2015-02-19 02:12] refried commented on #58
Wait, I guess the critical piece is overriding `RhoService#append`.

[2015-02-26 01:41] refried opened #62 "How do JSON result bodies become Swagger model documentation?"
In the examples, I see the tag trait `AutoSerializable` and the encoder `implicit def jsonWritable[A <: AutoSerializable]: EntityEncoder[A]`, which uses jackson's `write` to produce JSON, but that isn't part of the process for generating the Swagger model, is it?

[2015-02-26 01:49] refried commented on #62
P.S. I am looking at the Swagger 2.0 `definitions:` and getting excited because they match what I want to start outputting.

[2015-02-26 13:12] bryce-anderson commented on #62
No, the ```AutoSerializable``` trait isn't part of the swagger process. It is an experimental construct I made up to allow you to easily send case classes. I don't think it will ever escape the examples as it feels a little 'magic'. If it belongs anywhere permanently, it would be in ```http4s``` proper.

[2015-02-26 17:56] refried commented on #62
No, ok.  So `AutoSerializable` is just part of the way the example project produces the response body.

Then how does the example project's json become a swagger json definition?

[2015-02-26 18:12] refried commented on #62
Basically, I want to understand how to start extending this capability.  Complicating things a little bit is the fact that Swagger 2.0 is much more expressive, and I kind of want to jump onto that train, although it is in motion.

[2015-02-26 20:06] bryce-anderson commented on #62
The ```SwaggerSupport``` trait is tasked with maintaining and rendering the documentation [here](https://github.com/http4s/rho/blob/master/swagger/src/main/scala/org/http4s/rho/swagger/SwaggerSupport.scala#L43) in master and [here](https://github.com/http4s/rho/blob/topic/swagger2.0/swagger/src/main/scala/org/http4s/rho/swagger/SwaggerSupport.scala#L39) in the swagger2.0 branch. @cencarnacion has

[2015-02-28 19:43] refried commented on #62
Ok, I see it, and in particular I'm looking at `org.http4s.rho.swagger.TypeBuilder` currently.

[2015-03-03 18:37] refried opened #64 "mixing path params and `EntityDecoder` ?"
Is it possible to do something like this?
[code]

I get an error like the following, regardless of the order of the `F`'s args:
[code]

[2015-03-03 18:38] refried commented on #64
I lied, nevermind, sorry.

[2015-03-03 18:38] #64 closed

[2015-03-23 22:36] refried opened #67 "is it possible to compose Rho services?"
I naively tried to use `.toService.orElse`, but I suppose `append` or `__tree` need to come into play.

I'm guessing this isn't currently supported (after all, we're only at 0.4), but that it could be without too much trouble.  Is there anything you can think of that I should specifically avoid if I wanted to implement this?

[2015-03-24 00:37] bryce-anderson commented on #67
This is essentially a duplication of https://github.com/http4s/rho/issues/48, which must mean its not a problem only I think about. Because the http4s service model is just a function, I don't think there will be any way to compose them once they are a ```HttpService``` and maintain the swagger docs. One simple method would be to stack traits, but that isn't really in the spirit of http4s.

Lets m

[2015-03-24 00:37] #67 closed

[2015-03-24 04:31] refried commented on #48
Good point, I had already forgotten that `RhoService` != `SwaggerSupport`.

[2015-03-24 04:44] kryptt commented on #48
Here is what I have:

[code]

similar to the @bryce-anderson 's suggesting in #67, where core.UserService and core.AuditService extend RhoService and not SwaggerSupport. @cencarnacion mentioned a potential drawback to doing it that way, but I can't remember what it was :( ....

All that said, I agree composition should be done without the use of multiple inheritance :)

[2015-04-01 01:18] bryce-anderson opened #69 "java.util.NoSuchElementException: head of empty list"
[code]

[2015-04-01 19:28] #69 closed

[2015-05-06 14:52] bryce-anderson commented on #52
Is this fixed? I think this is a stale bug. The upgrade to swagger-2.0 is complete thanks in large part to @cencarnacion.

[2015-05-06 14:56] bryce-anderson commented on #53
Thanks to @cencarnacion, this is complete.

[2015-05-06 14:56] #53 closed

[2015-05-06 14:58] bryce-anderson commented on #48
This is something I'd like to get taken care of. I don't have any specific ideas right now on how to get this done, but I'll be thinking about it in the near future. Any suggestions are very much appreciated.

[2015-05-06 20:52] kryptt commented on #52
Yeah, I believe this is a stale bug, closing!

[2015-05-06 20:52] #52 closed

[2015-07-07 22:31] ShengC opened #79 "how does rho handle websocket"
or I guess in more general how does it handle Task[Response] ? As far as I can tell, it cannot compile if Task[Response] is provided directly to the dsl, e.g.,

    GET / "foo" +? param[Option[Int]]("bar") |>> { (bar: Option[Int]) => WS(Exchange(Process.constant(bar.getOrElse(-1)).map(b => Text(b.toString())).take(5), Process.halt)) }

    could not find implicit value for parameter hf: org.http4s

[2015-07-08 03:47] ShengC commented on #79
coming up with an ugly hack for websocket ...

     import org.http4s.server.websocket._
     import org.http4s.websocket.WebsocketBits._

     val src = Process.constant("test").toSource.zipWithIndex.map({ case (msg, i) => Text(s"$msg - $i") })take(20)
     val snk = Process.halt

     // unfortunately websocketkey and websocket case class are both defined in a protected scope that as a user cann

[2015-07-08 12:13] bryce-anderson commented on #79
I have given no consideration to websockets in rho as of yet.

The problem shouldn't be the `Task` but the `Response`: who deals in `Result`s to keep some compile time information around for use in swagger generation etc, which is just a wrapper around `Response` with some extra type information.

[2015-07-08 12:34] bryce-anderson commented on #79
@ShengC, I have a PR to address this, but I'm not sure when it will hit a release. In the intrum, you could copy the [`ResultMatcher`](https://github.com/http4s/rho/commit/b61889ca6b804d289adb8f1c31971dc4bededbbb#diff-a25ac8cd537b220d5a74fd580617552cR442) code and bring the implicit into scope manually.

[2015-07-08 12:50] ShengC commented on #79
@bryce-anderson,

I think I got what you mean. I have rewritten the hack, which now seems more reasonable ...

  Task.fork {
     import org.http4s.server.websocket._
     import org.http4s.websocket.WebsocketBits._

     val src = Process.constant("test").toSource.zipWithIndex.map({ case (msg, i) => Text(s"$msg - $i") })take(20)
     val snk = Process.halt

     WS(Exchange(src, snk)).flatMap(_.a

[2015-07-08 12:56] ShengC commented on #79
@bryce-anderson, yes that result matcher definitely is helpful :-)

[2015-07-09 11:21] #79 closed

[2015-07-14 15:58] ShengC commented on #79
This raises another problem though. Look at this example,

    GET / "number" +? param[Int]("num") |?? { (num: Int) =>
      if (num < 0) BadRequest("num <= 0 :-(")
      else WS(Exchange(Process.constant("test").take(num).map(Text(_)), Process.halt))
    }

The implicits get messed up in this case, since `BadRequest` does not get resolved to a `Task[Response]`. The only workaround I have for this

[2015-07-14 16:04] bryce-anderson commented on #79
There is no easy way to make the types unify there. What you've done is the best we can do with the current state of affairs. To make it better, rho will need to get a first class notion of `WS`.

[2015-07-15 13:13] bryce-anderson commented on #79
I do remember another way you can make this work, but you lose any swagger information (if you were using it at all): try `BadRequest.pure("num <= 0 :-(")`. that will make a `Task[Response]` instead of a `Task[Result]` and will match the `WS` result type.

[2015-07-16 00:57] ShengC commented on #79
Thanks :) Does swagger support websocket anyway ?

[2015-07-16 01:13] bryce-anderson commented on #79
Nope.

On Wed, Jul 15, 2015 at 8:57 PM, Mianwo <notifications@github.com> wrote:

[2015-07-31 21:18] ShengC opened #86 "weird parameter combination error"
// this compiles
      GET / root / "foo" +? param[Option[String]]("bar1") & param[Option[String]]("bar2") & param[Int]("bar3", -1) |>> { (request: org.http4s.Request, b1: Option[String], b2: Option[String], b3: Int) =>
        Ok("ok")
      }

      // this does not
      val params = param[Option[String]]("bar1") and param[Option[String]]("bar2") and param[Int]("bar3", -1)
      GET / root / "f

[2015-07-31 23:38] bryce-anderson commented on #86
Indeed, that looks like it should compile. I'll look into it.

[2015-08-01 00:02] bryce-anderson commented on #86
It looks to be a bad ordering of type parameters [here](https://github.com/http4s/rho/blob/master/core/src/main/scala/org/http4s/rho/bits/QueryAST.scala#L22) as compared to the correct and more common usage [here](https://github.com/http4s/rho/blob/master/core/src/main/scala/org/http4s/rho/QueryBuilder.scala#L26). Its also broken for the header rules in the same fashion. I'll have a PR to fix this

[2015-08-01 13:43] #86 closed

[2015-08-02 03:01] ShengC opened #88 "how does rho handle form data in the post"
Obviously `param` only supports parameter in the restful url.

    POST / "test" +? param[Option[String]]("data") |>> { (data: Option[String]) =>
      Ok(s"Got ${data.getOrElse("nothing")}\n")
    }

    curl -X POST http://localhost:8085/test?data=parameter
    Got parameter

    curl -X POST http://localhost:8085/test --data "data=form"
    Got nothing

The entity body is abstracted as a `scala

[2015-08-02 13:08] bryce-anderson commented on #88
You're right, because the body is modelled as a `Process` its difficult to mix and match between the other messages parameters which are all synchronous.
Just in case you haven't found it, see [`UrlForm`](https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/UrlForm.scala) for how to decode a form body.

[2015-08-02 14:16] ShengC commented on #88
I think it makes sense to model entity body in Response as a Procross, but
how many benefits does it bring along by doing the same for Request ? As it
cannot abstract the match of form data in the route, it kills lots of
useful patterns.

On Sunday, August 2, 2015, Bryce Anderson <notifications@github.com> wrote:

[2015-08-02 14:55] bryce-anderson commented on #88
I think it makes a lot of sense to model the body of the `Request` as an asynchronous construct: otherwise we run the risk of OOM problems if someone posts anything large. The pattern matching stuff etc is all really a DSL problem: there is no reason we can't lift non-body stuff into the asynchronous context and perform the matching after processing the body. As it stands it just isn't that way. I

[2015-08-03 01:57] ShengC commented on #88
AFAIK, there is no RFC limiting the length of restful url length. This
might sound ridiculous, but technically speaking,  client can still cause
the OOM in the server with a Curl GET, so long as the server itself does
not address the unbounded url itself. My point being, for the sake of
resource safety, the server should either consider using a `lazy` kind of
data structure for all the edge cases

[2015-08-03 12:45] bryce-anderson commented on #88
While the request line and headers do not have a RFC specified limit, they are also limited by the http4s backends to avoid OOM DDOS attacks. The blaze backend currently limits the request line to 2KB and all the headers to 40KB. Right now we are using the default constructor of the `Http1ServerParser` class but the defaults can be found [here](https://github.com/http4s/blaze/blob/master/http/src/

[2015-08-03 14:47] ShengC commented on #88
@bryce-anderson Thanks for the advice... for now I will try lifting a `url-form` encoded body into the `Request` parameters, but since request line is limited to 2KB, I don't think this should by any means let run in production. I know there is probably a dozen of ways to run validation against fields in the method body, but that sort of prevents the code reuse and composition.... I still think th

[2015-08-03 15:00] bryce-anderson commented on #88
Check out https://github.com/http4s/http4s/pull/373. Its magic happens after the http parser so you don't need to worry about the max request line size. Please leave comments or suggestions on the PR if you feel compelled. :smile:

I agree that scalaz is a bit risky right now, but so is this library. This library will be using whatever http4s uses so that is really a discussion for http4s. We are

[2015-08-03 15:26] ShengC commented on #88
@bryce-anderson that's awesome - I am, too,  thinking applying a simple `contramap` on `HttpService` to play it around first LOL but this impl looks much better, so I will just use it instead  :smile:

I am trying to persuade my team to use http4s for the new project we are working on. Used to be a Spray user for a while, and since I really disliked its forcing users to use Akka everywhere (to ear

[2015-08-05 03:20] ShengC opened #89 "how does rho generate swagger page for a custom param ?"
I have made up a `StringParser` to map a parameter (which is basically a json string) to a case class in one of the routes. Now I wish I can show in  `Swagger` page that one of the parameters for this rest api call should be that class. It seems like all param types that can be properly shown in `Swagger` page is defined as an instance of `rho.swagger.TypeBuilder.DataType` which unfortunately is a

[2015-08-05 17:10] ShengC opened #90 "how to compose two rho services ..."
object A extends RhoService {
      GET / "ping" |>> { Ok("pong") }
    }

    object B extends RhoService {
     GET / "pong" |>> { Ok("ping") }
    }

with `A.toService orElse B.toService` mounted, `swagger` page only shows method in `A`, if `mount(A.toService)` and then `mount(B.toService)`, `swagger` page only shows method in `B`

[2015-08-05 17:27] bryce-anderson commented on #90
Indeed, check out rho #48.

[2015-08-05 17:27] #90 closed

[2015-08-05 21:46] ShengC commented on #89
Guess this would be more clear with an example

    case class Foo(x: Int, y: String)

    val fooParser = new StringParser[Foo] {
        override val typeTag: Some[TypeTag[Foo]] = Some(implicitly[TypeTag[Foo]])
        override def parse(s: String): ParserResult[Foo] = {
          scalaz.\/.fromTryCatchNonFatal(JsonMethods.parse(s).extract[Foo]) match {
            case scalaz.-\/(t) => ParserFa

[2015-08-05 22:14] bryce-anderson commented on #89
I _think_ it will be a bit more complex than adding a `SwaggerFormats`. I'm not sure the [`SwaggerModelBuilder`](https://github.com/http4s/rho/blob/master/swagger/src/main/scala/org/http4s/rho/swagger/SwaggerModelsBuilder.scala) is currently designed to look in the query or route for models.

[2015-08-05 22:19] bryce-anderson commented on #89
I believe we can get this to work without too much pain: much like the [`collectResultTypes`](https://github.com/http4s/rho/blob/master/swagger/src/main/scala/org/http4s/rho/swagger/SwaggerModelsBuilder.scala#L54) and [`collectCodecTypes`](https://github.com/http4s/rho/blob/master/swagger/src/main/scala/org/http4s/rho/swagger/SwaggerModelsBuilder.scala#L60) methods, we need to extract the types fr

[2015-08-06 02:46] ShengC commented on #89
so I read the `QueryBuilder` and `SwaggerModelBuilder`, turns out there are a few things currently broken ... I will specify as follows,

1. `SwaggerModelBuilder` actually generates the `Foo` as for the `type` field for the `foo` param in `swagger.json`, but that's not enough. In order to render complex type, one has to define it in the `model` section. Take a look at this,
https://github.com/swag

[2015-08-06 05:02] ShengC commented on #89
I will work on it.

[2015-08-08 13:23] bryce-anderson commented on #89
Closed via fc72df5e884b6f5da054b54360a373cd6925a283.

[2015-08-08 13:23] #89 closed

[2015-08-10 14:04] ShengC opened #92 "rho depends on http4s-server 0.7.0"
both latest release artifact 0.5.0 and snapshot 0.6.0-SNAPSHOT do. However the latest release artifact of http4s-server is 0.8.4, and its latest snapshot is 0.9.0-SNAPSHOT,

https://oss.sonatype.org/content/repositories/snapshots/org/http4s/rho-core_2.11/0.6.0-SNAPSHOT/rho-core_2.11-0.6.0-SNAPSHOT.pom
https://oss.sonatype.org/content/repositories/releases/org/http4s/rho-core_2.11/0.5.0/rho-core_2.

[2015-08-10 14:17] bryce-anderson commented on #92
As far as rho is concerned, 0.7.x and 0.8.x are compatible. We could change the snapshot now: http4s 0.9 has a few changes that will certainly effect rho.

[2015-08-10 14:26] ShengC commented on #92
`sbt` is smart enough to pick the latest version across direct and transitive dependencies. However if someones uses `ivy` to resolve `http4s 0.8.4` and `rho 0.5.0`, he would unfortunately end up with two different versions of `http4s-server` in the dependencies. Therefore definitely I would make `http4s-server 0.8.4 `as the dependency for next release of `rho`, and `http4s-server 0.8.5-SNAPSHOT`

[2015-08-10 18:13] ShengC opened #93 "`HListFunc` only allows function with up to 8 inputs"
Can we just change `MatcherHListToFunc` from `private` to `public` ... ? In my use case, I need to pass in more than 8 inputs for the route, and have to extend `HListFunc` to add an implicit to deal with that. Since `MatcherHListToFunc` is `private`, I have to copy that over, which is kind of awkward.

[2015-08-10 18:18] ShengC commented on #93
As a side note - why not just use `pattern match` in `HListFunc` to extract the inputs?

http://stackoverflow.com/questions/18468606/extractor-for-a-shapeless-hlist-that-mimics-parser-concatenation

[2015-08-10 18:28] bryce-anderson commented on #93
Sure, changing `MatcherHListToFunc` from `private` to `public` seems OK to me. It is an implementation detail, so we should put a 'not necessarily stable' warning on it.
If you don't mind me asking, how many inputs do you have? That section of code could probably be generated by the build, but that might be more effort than its worth. Additionally, if you create deeper matchers I think they would

[2015-08-10 19:02] ShengC commented on #93
I have one route takes 9 inputs, and another takes 10 inputs. Since input can be in the form of `query`, `header` or `path`, I would not be surprised if other folks run into the same issue.

There is a chance proposal from that link might already be part of `shapeless` given it was 2 years ago, but I might be wrong. Memory footprints might be a problem, but besides that, I don't have a idea of how

[2015-08-14 17:53] ShengC commented on #48
is there an eta for adding this feature ? Not able to compose routes coming from different packages through `rho` forbids a more manageable and thus clearer pattern to organize the code. How about making up a mutable kind of `PathTree` ? this way, same instance of `_tree` can be dependency injected into multiple `RhoService` traits (through `def` instead of `var`). Once classes finish the initiali

[2015-08-14 18:21] bryce-anderson commented on #48
@ShengC: no eta right now.

I'm not sure if there are any examples so just in case you haven't tried it, you can use the cake pattern to modularize your code:
[code]

There shouldn't be a need to make a mutable tree: they can be easily merged immutably. At one point it actually was mutable. If I understand you, you want that to turn the `var _tree` to a `def _tree` in the trait but I don't see wha

[2015-08-14 21:59] ShengC commented on #48
@bryce-anderson What I am thinking is pretty much the same as you propose, use the same instance of `_tree` to let `route` coming from different places be merged in. Though I personally don't like `cake pattern`, but have to admit what you give is the only possible way given the current code base.

I think our problem boils down to how can we merge `_tree` (and `swaggerSpec`) from different `RhoSe

[2015-08-15 19:20] bryce-anderson commented on #48
That seems like a reasonable proposal for merging trees, but the important part is merging _services_ like the `SwaggerSupport`. What would we do with a situation that needs to combine 2 swagger services and one intentionally non-swagger service? Even just merging two swagger services is non-trivial in that we now have two trees that need merging. Then what about HAL? The problem baloons pretty fa

[2015-08-16 12:54] ShengC commented on #48
This is the `append` method in `RhoService`

    protected def append[T <: HList](route: RhoRoute[T]): Unit =
      __tree = __tree.appendRoute(route)

This is the `append` method overriden in `SwaggerSupport`

    override protected def append[T <: HList](rr: RhoRoute[T]): Unit = {
      super.append(rr)
      val sb = new SwaggerModelsBuilder(swaggerFormats)
      swaggerSpec = sb.mkSwagger(apiI

[2015-08-17 15:08] ShengC opened #95 "`apiPath` in `SwaggerSupport` should be given a more general type"
It is currently of the type `String`, which prevents the user overriding `GET` of `swagger.json` to the `path` like,

    GET / "foo" / "swagger.json"

I think it should be of the type `PathRoute` or `PathRule`

[2015-08-17 15:57] bryce-anderson commented on #95
Is this something you would like to get in before doing a release against http4s-0.9.0?

[2015-08-17 18:34] bryce-anderson commented on #48
@ShengC, I think what you're proposing is certainly a step in the right direction although I don't think its the end of the story.

Is this something we want to try and get done before the next release? I suspect it will be pretty fast but its hard to say until diving in and I'm really busy with work this week so I can't make any promises with regard to getting it done.

[2015-08-17 20:39] ShengC commented on #95
that's ok - I am always developing against the `snapshot` :-) this can wait a little bit

[2015-08-17 20:41] ShengC commented on #48
@bryce-anderson  I can take a look at it (warning, no guarantee of ETA), and submit a PR for review.

[2015-08-17 20:45] ShengC opened #96 "`cookie` is not sent out in `try it out` on `swagger` page."
I am not even sure if it is possible to send out `header`/`cookie` in `try it out` through `swagger` though.

[2015-08-17 21:11] bryce-anderson commented on #48
Deal. I've made a branch `issue/48` to work against.

[2015-08-18 04:18] ShengC opened #97 "example cannot run properly after the update"
the problem now is `HttpService` is no long a `PartialFunction`, but a `Kleisli`. Look at this code...

    def or(default: => Task[B]): Service[A, B] =
      service.mapK(_.getOrElseF(default))

where `default` is essentially `notfound` . This means once `HttpService` is instantiated, it returns 404 for any route that is not defined in the `PartialFunction`. Combining the two `HttpService` throug

[2015-08-18 12:11] bryce-anderson commented on #97
#98 makes it work again, but I think it is a temporary fix. I agree, `orElse` is missed in this case and probably others as well. That however, is an issue for http4s proper.

[2015-08-18 13:35] ShengC commented on #97
Thanks - I will raise the issue for http4s when I am in.

[2015-08-18 13:51] bryce-anderson commented on #97
I already opened an issue; feel free to comment.
On Aug 18, 2015 9:36 AM, "Mianwo" <notifications@github.com> wrote:

[2015-08-18 14:11] ShengC commented on #97
@bryce-anderson Do we have a snapshot of `rho` before you upgraded the `http4s` dependency to 0.9 ? It is now built in Java 8. I would like to keep my current work point to the old version before I can fully wrap my head around all the changes that come with.

[2015-08-18 14:47] ShengC commented on #97
Or even better - check out git before #94 , cut a release for it. Check out master again, upgrading the working version to 0.7-SNAPSHOT (or 0.6.5-SNAPSHOT). We certainly need some breathe room to digest all the changes that 0.9 http4s brings to rho.

[2015-08-18 15:16] bryce-anderson commented on #97
I agree. I'll cut a release against http4s-0.8.4 but probably not against
0.7.x.

On Tue, Aug 18, 2015 at 10:47 AM, Mianwo <notifications@github.com> wrote:

[2015-08-18 15:19] ShengC commented on #97
Thanks - I used to compile my code against rho 0.6.0-SNAPSHOT and http4s 0.8.5-SNAPSHOT, so I'll assume 0.8.4 was built in Java 7 ?

[2015-08-18 15:21] ShengC commented on #48
Cool - having some house work this week and have to rely on a laptop off my hours. Probably will start around next week.

[2015-08-18 15:28] bryce-anderson commented on #97
Yes, 0.8.4 should be built against java-7.

On Tue, Aug 18, 2015 at 11:19 AM, Mianwo <notifications@github.com> wrote:

[2015-08-18 17:18] bryce-anderson commented on #97
@ShengC, rho-0.6.0 should be in central soon.

[2015-08-18 17:36] ShengC commented on #97
Thank you - I already see it in sonatype. Will give a try .

[2015-08-18 17:47] ShengC commented on #97
@bryce-anderson it works now. Just so you know,

    +  lazy val http4sVersion = "0.8.4"
       lazy val http4sServerVersion = if (!http4sVersion.endsWith("SNAPSHOT")) (http4sVersion.dropRight(1) + "0")

so the 0.6.0 release depends on 0.8.0 instead of 0.8.4

[2015-08-18 19:15] bryce-anderson commented on #97
@ShengC, indeed, I forgot about that.

[2015-08-18 19:16] bryce-anderson commented on #97
So I'm going to close this: the examples work again, and the ugly of the interface is a http4s proper issue.

[2015-08-18 19:16] #97 closed

[2015-08-19 16:23] ShengC opened #99 "`captureMap` causes `internal server error` when `f` throws exception"
The right behavior should be sending back `Bad Request` with the reason. I believe this is also an issue for `existsAnd`. We need to wrap a `scala.Try` or `Scalaz.\/` when evaluating `f`

      case HeaderExists(key, f) => req.headers.get(key) match {
        case Some(h) => f(h).fold[ResultResponse[HList]](SuccessResponse(stack))(f => FailureResponse.result(f))

      case HeaderCapture(key, f, d

[2015-08-19 16:47] bryce-anderson commented on #99
:+1:

[2015-08-19 17:55] ShengC commented on #95
I think apiPath in `SwaggerSupport` should be given an explicit type `PathAST.TypedPath[shapeless.HNil]`. Implicit will coerce the type conversion in case a string is provided. This way user is able to override the swagger.json path to other path like `foo/bar/swagger.json`

[2015-08-20 15:30] #99 closed

[2015-08-21 14:50] ShengC commented on #96
Close it for now - as it does seem to be a limitation of `swagger`  itself.

[2015-08-21 14:50] #96 closed

[2015-08-21 14:51] ShengC commented on #88
Close due to `UrlFormLifter` is now released through `http4s-0.9`

[2015-08-21 14:51] #88 closed

[2015-08-21 14:52] ShengC commented on #92
Close as master depends on `http4s` 0.9 now.

[2015-08-21 14:52] #92 closed

[2015-08-25 16:53] ShengC opened #102 "swagger model builder craps out in case of a `HEAD` defined in route"
https://github.com/http4s/rho/blob/master/swagger/src/main/scala/org/http4s/rho/swagger/SwaggerModelsBuilder.scala#L39

https://github.com/http4s/rho/blob/master/swagger/src/main/scala/org/http4s/rho/swagger/models.scala#L191

`wordnik` for `Path` is also missing the `HEAD` request in methods.

For one, we should add a `default` to guard the `match` of method, and probably we should extend the `wo

[2015-08-25 17:36] bryce-anderson commented on #102
Agreed. It looks like [`swagger-core` does support `HEAD` requests](https://github.com/swagger-api/swagger-core/blob/fe2e545806a1c129ce8405c208088452766fb46e/modules/swagger-models/src/main/java/io/swagger/models/Path.java#L18).

[2015-09-03 18:44] bryce-anderson commented on #102
Closed by commit 9e746645f1794f974e550ab1d2112c4a16a33654.

[2015-09-03 18:44] #102 closed

[2015-10-01 12:44] #95 closed

[2015-10-10 21:31] bryce-anderson opened #109 "Add the ability to 'prefix' a RhoService"
It would be nice to add a path that generates no parameters to the beginning of a routes. Something like
[code]
I'm not sure the `/:` operator is right, but you get the idea.

[2015-10-19 03:20] ShengC commented on #93
I've been following Miles' talk and `shapeless` for a while, and realize there actually might be a way to scrap away these boilerplates with something like this,

    import shapeless._
    import shapeless.ops.function._
    import shapeless.syntax.std.function._

    implicit def instance[T <: HList, F, R](implicit m: ResultMatcher[R], fp: FnToProduct.Aux[F, T => R]): HListToFunc[T, F] = new Mat

[2015-10-19 12:26] bryce-anderson commented on #93
I learned about those parts of shapeless after the boilerplate was already made so I didn't think much of it. If you get a PR together I'm sure we can get it merged.

[2015-10-19 19:03] ShengC commented on #93
Have had some fun with `shapeless` today, and eventually the generic implicit worked and all routes of the example code compiled. Will run the unit tests tonight at home, if that does not throw any error either, will create a PR.

[2015-10-19 19:07] bryce-anderson commented on #93
Awesome. It looks like the `Aux` types are all generated by sbt and use pattern matching. I don't think this will be a problem for performance, but I'm open to hearing otherwise. If it goes poorly it could lead to a lot of `Some` instances, or it could be distilled to what I've basically hard coded.

[2015-10-19 19:48] ShengC commented on #93
I feel that `Aux` type in `shapeless` are basically to derive an isomorphism conversion between a composed type and an `HList` (and/or `Coproducts`). `shapeless` heavily uses the `macro` to make the conversion as generic as possible. It does come at the expense of compile time as a result, but I remember Miles mentioned the runtime cost was very little (in his presentation in this yr's scaladays).

[2015-10-22 02:39] #93 closed

[2015-10-22 12:50] bryce-anderson opened #111 "How much of the dsl can we turn into functors?"
`HeaderRule` and `QueryRule` seem like they would be obvious candidates to be made into functors. `PathRule`s, maybe not...

[2015-10-22 13:22] ShengC commented on #111
I can (sort of) understand `HeaderRule` and `QueryRule` can be considered as `Monoid`, since both of them have Empty and Combine (either `and` or `or`), but how do they become `functor`? And moreover, what would it give to us if we turn them into functor ?

[2015-10-22 13:29] bryce-anderson commented on #111
`captureMap` is already suggesting 'functor' so in some ways its pretty logical. I think applicative functor might be the real goal, especially in the query case: multiple params could be used to construct a complex object:
[code]

[2015-10-22 13:30] bryce-anderson commented on #111
I suppose the code I wrote above is not actually 'applicative functor' in nature, but the point is the same.

[2015-10-22 13:53] ShengC commented on #111
I think really it is `TypedHeader` and `TypedQuery` that we might want to turn into type class based ? I think starting directly from `Monad` is good (if possible), then we have applicative functor and functor for free.  Given "combination" nature, we should also consider `Monoid` ?

[2015-10-22 14:10] bryce-anderson commented on #111
I think the biggest unknown here is how it will play with the heterogenous list nature of building rules. I'm suspecting it won't play well with anything but ```Rule[A::HNil]``` types.

[2015-10-22 15:37] ShengC commented on #111
That aside, type of the value wrapped over by `TypedQuery` is inside the internal `QueryRule`, but the interface of `QueryRule` is not polynomial (though its subclass `QueryCapture` is). In its current shape, `TypedQuery` and `QueryRule` do not correlate w.r.t a type, which makes any higher-kinded typeclass instance implementation not straightforward.

[2015-11-18 19:18] bryce-anderson commented on #109
Closed by #112.

[2015-11-18 19:18] #109 closed

[2015-11-18 19:20] bryce-anderson opened #114 "State of HAL support"
@before, are you still using the rho/the HAL code? It appears that you've got other things on your place and HAL has lost its maintainer. If its no longer used I'm considering dropping it.

[2015-11-21 03:14] bryce-anderson commented on #59
Wow, this has been on the shelf for a long time hasn't it? Any strong feelings on this issue? I'm slightly leaning toward a custom `Pass` / `Fail` but the available unambiguous names in the domain are pretty sparse... Maybe `Continue` and `Abort(msg)`?

[2015-11-21 03:16] bryce-anderson commented on #46
This issue is pretty stale and cleanup is always good so this can probably be closed.

[2015-11-21 03:16] #46 closed

[2015-11-21 03:36] #34 closed

[2016-01-13 02:10] rossabaker opened #119 "Scaladoc shows left frame, not right"
[code]

The header is apparently [not something we can change](http://stackoverflow.com/questions/17012727/how-to-set-the-x-frame-options-in-a-content-hosted-by-github).  @peterbecich reports that [this Chrome plugin](https://chrome.google.com/webstore/detail/ignore-x-frame-headers/gleekbfjekiniecknbkamfmkohkpodhe?hl=en-US) is a workaround.  Still, would be nice if our docs didn't require a plugin

[2016-01-13 10:31] jarben commented on #119
This used to work until few hours ago, being reported by many, hopefully GitHub reverts this header asap..

https://twitter.com/mrdoob/status/687210451617333248
https://www.reddit.com/r/Trimps/comments/40qafc/bug_not_working_on_kongregate/
..

[2016-01-13 13:55] bryce-anderson commented on #119
Looks like this is working once again.

[2016-01-13 13:55] #119 closed

[2016-01-13 14:45] refried commented on #119
What a weird header to even exist.

[2016-03-19 17:29] bryce-anderson commented on #48
closed by 256b4b0.

[2016-03-19 17:29] #48 closed

[2016-09-01 22:11] shengc opened #136 "incompatibility of Scala 2.11.8"
Is it a known issue to the Lightbend ? If so, can you please provide the ticket number tracking the issue ? Our work has been stuck at 2.11.7 because of this :-(

[2016-09-01 23:34] bryce-anderson commented on #136
I don't know if it is or not. @rossabaker suggested bisecting scalac between 2.11.7 and 2.11.8, but that has been pretty low on my priority list.

[2016-09-02 04:36] rossabaker commented on #136
I don't think it's been minimized to the point that it is actionable by Lightbend.  @reactormonk was thinking about a bisector script for another problem.  He wanted a script that returned 0 or not to show the pattern.  Is that bisection still a relatively easy thing to write, as slow as it might be to run?

[2016-09-07 19:43] shengc commented on #136
I have been able to narrow down the issue to the following,

[code]

so with 2.11.8 `route` compiles, `route2` _does not_, but both of them compiles in 2.11.7. I had tried to turn on the implicit log to see how compiler resolves the implicits, but the output is sort of overwhelming to me. Can you pick up from here to see if this can be further minimized to something that Lightbend can act on ?

[2016-09-08 02:12] shengc commented on #136
what is weird is just by putting `implicitly[EntityEncoder[String]]`in context will solve all compile errors. If I remove the `implicit` keyword from `charSequenceEncoder`, compile errors go away except for the ones that does not take type parameter, such as `CONTINUE`, `REDIRECT`, etc. I think the implicit instances of `EntityEncoder` do have ambiguities from the perspective of 2.11.8, and some a

[2016-09-08 03:34] rossabaker commented on #136
I remember Bryce having a very difficult time organizing the priorities of the implicits in EntityEncoder to make it work.

This is unlikely, but I wonder if it does better with the SI2712-fix compiler plugin?  I hit some cases on the cats branch where implicits were ambiguous  and the plugin made it find the expected one.  I don't think that will work here, because I don't think this is an issue

[2016-09-14 12:46] phile314-isska opened #138 "Lists of primitive types produce invalid swagger files"
If I use lists containing primitive types in case classes, the generated Swagger documentation contains invalid references to an Int type. Example Scala Code:
<pre>
case class JsonResult(number: List[Int]) extends AutoSerializable
</pre>

Actual Swagger code:
<pre>
"definitions":{
  "JsonResult":{
    "required":["number"],
    "properties":{
      "number":{
        "type":"array",
        "items

[2016-09-14 13:03] phile314-isska commented on #138
I debugged this a bit, and it looks like the following code is to blame:
https://github.com/http4s/rho/blob/master/swagger/src/main/scala/org/http4s/rho/swagger/models.scala#L651-L686

I didn't debug this any further, because I don't understand what the purpose of AbstractProperty/RefProperty is.

[2016-09-14 15:06] bryce-anderson commented on #138
Sure enough, this doesn't seem right. Its trying to refer to a more complex model, for example if it was another class, but it turns out its Int, and it didn't build a more complex model for it.

[2016-09-14 15:26] bryce-anderson commented on #138
I think the problem is really here: https://github.com/http4s/rho/blob/master/swagger/src/main/scala/org/http4s/rho/swagger/TypeBuilder.scala#L124
When its a collection rho just assumes its a ref type and doesn't actually check. It kind of looks like the method `paramSymToProp` should be recursive in the case of a collection, but I haven't tried it yet.

Please feel free to take a swing at this on

[2016-09-15 02:30] shengc commented on #136
tried typelevel scalac, with SI-2712 fix and SIP-23 enabled, still the example project is failed to compile. For now, the workaround is to bring `implicitly[EntityEncoder[String]]` into scope, and all compile errors would magically be resolved. This is the best I can offer at the moment. Hopefully someone can revisit and actually fix this issue later.

[2016-09-15 04:53] bryce-anderson commented on #136
@rossabaker and I discussed this briefly and think you're probably on to
something: in the past, somehow the implicit EntityEncoders were becoming
ambiguous (at least in the compilers eyes) and making some changes in
http4s were required. That may be the case again. Specifically,
CharSequence may be a problem and maybe it should go: it's really not that
useful anyway.

I'll take a look when I can,

[2016-09-19 03:01] bryce-anderson commented on #136
So I spent the evening compiling scalac over and over again and it turns out that this is the commit that breaks rho: https://github.com/scala/scala/commit/5db2d831a79f6ea3.
Relevant comment in the commit source suggests a change in behavior to looking up implicit members in the package, rather than package object when doing wildcard imports.

[2016-09-19 04:34] bryce-anderson commented on #136
I've filed a bug in the scalac JIRA system: https://issues.scala-lang.org/browse/SI-9928

[2016-09-19 14:30] shengc commented on #136
Thank you for summarizing and reporting the issue ... that commit message suggests it was an improvement for IDE, i.e., the presentation compiler? Anyway, hopefully Lightbend can take a look at it soon.

[2016-09-22 12:33] phile314-isska opened #140 "Custom field serializers don't work with Option(al) fields"
Example:
<pre>
  val swaggerFormats = DefaultSwaggerFormats.withFieldSerializers({
    case x if x =:= typeOf[DateTime] => AbstractProperty(`type`="string", format = Some("date-time"))
  })
</pre>
JSON Response Case Class:
<pre>
case class Project(
                    id:Option[Long],
                    name:String,
                    modified: Option[DateTime],
                    created: Date

[2016-09-23 03:38] bryce-anderson commented on #140
Have you had a chance to check PR #139?

[2016-09-24 17:46] #138 closed

[2016-09-24 18:31] bryce-anderson commented on #140
@phile314-isska, see #141. I'd appreciate you testing it with your use case before I merge it.

[2016-09-26 14:40] phile314-isska commented on #140
Just tested it, works perfectly :+1:

[2016-09-27 03:32] bryce-anderson commented on #140
Fixed by #141.

[2016-09-27 03:32] #140 closed

[2016-10-19 13:20] phile314-isska opened #142 "Abstracting over response types yields wrong Swagger Schema"
I wanted to factor out some common code from my REST APIs, but that seems to break when I abstract a RhoRoute over the response type. Example:

<pre>
package test

import io.circe.Encoder
import org.http4s.rho.swagger._
import org.http4s._
import org.http4s.rho._
import shapeless.HList
import scalaz._
import scalaz.syntax._
import scalaz.concurrent.Task

class Test extends RhoService {

  case cla

[2016-10-20 08:50] phile314-isska commented on #142
Adding the ``TypeTag`` as argument to my ``listChildren`` function makes it work:
<pre>
  def listChildren[A](doc: String, path: String, load: Task[List[A]])(implicit tt: TypeTag[List[A]], em:EntityEncoder[List[A]]) : RhoRoute[ _ <: HList] = {
    doc **
      GET / path / "" |>> {
      load.flatMap(x => Ok(x))
    }
  }

  listChildren[Dummy]("bla", "bla", Task.point(List.empty[Dummy]))
</pre>

[2016-10-21 01:16] bryce-anderson commented on #142
Sorry I haven't been very responsive on this. Crazy week. 😀
I agree, this is a bit surprising, in a bad way. I'll try to take a look during the weekend.

Without looking at the code, I'm going to guess this would be best solved with implicit macros. I've tried to avoid macros, but more and more things are looking like they would be easier with them than without them.

[2016-10-21 15:51] phile314-isska commented on #142
No problem. If you have a moment to spare to look at the issues I reported I am already very happy :-)

[2016-12-12 14:39] etorreborre commented on #136
@bryce-anderson I got the `examples/src/main/scala/com/http4s/rho/hal/plus/swagger/demo/RestService.scala` file to compile with scala 2.11.8 by adding this import:
[code]

[2016-12-12 16:47] bryce-anderson commented on #136
Oh, very interesting. I'll have to take a closer look at that. I believe @shengc found that importing a few implicits from http4s made his example work (please correct me if I'm wrong, that was a while ago), so perhaps that is related. If you find anything new, I'm totally interested!

Thanks for the update.

[2016-12-13 11:45] zarthross commented on #136
@etorreborre Turns out you don't need the `ResultSyntaxInstances` for that to work.

[2016-12-13 11:51] zarthross commented on #136
Turns out if you follow the inheritance tree for Http4s, its actually the `EntityEncoderInstances` that you need to import for @etorreborre's case to work.  So you could get the same effect with `import EntityEncoder._`.

[2016-12-13 12:10] zarthross commented on #136
Alright, so if you make `RhoService` extend `EntityEncoderInstances` like `Http4s` does via `Http4sInstances`, then everything builds and test pass (at least on my machine)

[2016-12-13 12:46] etorreborre commented on #136
@zarthross thanks for minimizing it :-). Your last comment makes me think that we could create a small PR based on this and we could test it on both 2.11.8 and 2.12.1.

[2016-12-13 12:48] zarthross commented on #136
I'm working on that right now!

[2016-12-14 16:10] zarthross commented on #136
Can we close this now?

[2016-12-14 17:43] #136 closed

[2016-12-20 17:52] zarthross opened #150 "pathVar[String] does not URL decode by default."
It would appear the StringParser for type String for pathVar doesn't url decode the strings by default.  Was this expected behavior?  If not, can we correct that or at least have some way to optionally specify automatic decoding?

[2016-12-21 16:01] bryce-anderson commented on #150
I would say it is likely an oversite. I don't know how many people would be dependent on this behavior by now, so maybe they should chime in. Folks that come to mind are @etorreborre and @jcranky.
I'm open to changing the default so long as it doesn't cause tremendous pain for others.

[2016-12-21 16:10] bryce-anderson commented on #150
For those interested, I believe the problem is right here: https://github.com/http4s/rho/blob/a3091413a371b5e7d6d8e9175d8514cbbd1da21f/core/src/main/scala/org/http4s/rho/bits/PathTree.scala#L68. We should probably be URL decoding the individual elements.

[2016-12-22 12:09] jcranky commented on #47
Is this still a thing?

[2016-12-23 17:29] zarthross opened #151 "Update Scala-docs"

[2016-12-23 21:06] zarthross commented on #150
Added PR#152 to hopefully resolve this issue.

[2016-12-24 17:44] bryce-anderson commented on #47
Yes, it's still not perfect.

[2016-12-27 15:16] shengc opened #156 "`ServiceBuilder.toService` should allow providing a custom `NotFound` response"
And `RouteResult.toResponse` should use that in place of deprecated `HttpService.notFound` if it were provided (e.g., `Response.fallthrough`). The benefit is that one can chain up `Fallthrough`-ed services in a much more straightforward way.

On a separate note, `HttpService.notFound` has been deprecated. Why the compiler does not penalize the warning into an error? I have not taken a look at the

[2016-12-27 16:25] bryce-anderson commented on #47
I looked into this a bit, and the example with bad docs is not _entirely_ rho's fault: the return type of a route is a JValue, which has no special meaning to rho so it fails to build a proper model for it. The other example is twirl Html, which is the same issue.

I still think rho could be smarter about what it's adding as a ref etc to avoid situations like this.

[2016-12-29 14:04] zarthross commented on #150
Issue address by #152

[2016-12-29 14:04] #150 closed

[2016-12-29 14:07] zarthross opened #157 "Hugo/Tut Documentation"
Currently it appears the only documentation is on the Wiki and in the code as examples.  Can we get some documentation similar to how Http4s is doing their documentation now?  They just updated their documentation to a combination of Hugo and Tut so they have both versioned documentation for their api's and a nice static website for the rest.

[2016-12-29 14:16] rossabaker commented on #157
Brainstrorming:

1. Bring rho into http4s repo.  Rho doesn't work in 2.10, which is still needed by some people, so that would require something like sbt-doge.  I'd also prefer to move away from the monorepo in time.

2. Extract http4s documentation plumbing as an sbt plugin.  This is how we roll at work.

3. Get real fancy and have rho publish into http4s docs.  Probably builds on top of 2, but i

[2016-12-29 15:54] zarthross commented on #157
IMHO, 2/3 are better than 1.  I prefer to avoid the monorepo if possible as it allows RHO to iterate somewhat quicker and more independently from Http4s.

[2016-12-30 06:03] jtcwang opened #158 "Generating a org.http4s.AuthedService?"
I had to implement authentication for my service, but I don't think I can make it work with Rho as it is now.
In a multi-tenant application, I need contextual information around the user and the organization they belong to.

Currently `Action`'s `act` field has the signature `(Request, T) => Task[Response]` which means I can't pass on the auth context for the user other than stuffing it inside `Re

[2016-12-30 16:31] zarthross commented on #158
FYI there is a task for general talk about authorization: #14.

[2016-12-30 17:22] zarthross commented on #14
@bryce-anderson Authorization has come up again in #158, and I too need some support for it.  I would love to help out but could use some guidance as to how it should be implemented.

Some random thoughts/note here:
- It would appear that HAL doesn't do anything with Authentication/Authorization so no need to worry about it.
- The swagger 'security' models appear to be implemented in  [rho/swagger

[2016-12-30 17:24] zarthross commented on #14
I'm somewhat partial to the 3rd one, since you could mix Authed and Unauthed routes in one service.  Unfortunately it wouldn't share much with how HTTP4s does authentication since we have to keep the metadata.

[2016-12-30 17:27] bryce-anderson commented on #158
As @zarthross noted, its something I've been interested in but not found the time/need to do. I'm definitely interested in authentication/authorization in rho and it would be a really awesome addition to the generated swagger docs.

All that said, I haven't invested any time into it. Ideas and PR's welcome. :smile:

Closing as a duplicate of #14. Further discussion should continue there.

[2016-12-30 17:27] #158 closed

[2016-12-30 17:29] bryce-anderson commented on #157
+1 for option 2.

[2016-12-30 17:45] bryce-anderson commented on #156
Agreed on all accounts. And yes, we should probably be more strict on warnings. There is plenty of cleanup to do in rho: it feels like the project is on the tail end of the heavy construction phase and now getting into the refinement phase.

[2016-12-30 19:48] bryce-anderson commented on #156
Are you using `ServiceBuilder` directly? I just put up a PR that does a few changes to it, #160, that may be important to you. In my minds eye it was rarely if ever used directly so that PR attempts to hide it to some degree.

How do you envision the custom `NotFound` being passed in? `Request => Task[Response]`? I'm just trying to figure out why this is not a case that could be addressed with the

[2016-12-30 20:43] bryce-anderson commented on #14
In my minds eye, it would be super useful to allow whole services to be protected at once, but I also don't think this should be mandatory and am not sure how that information would be surfaced to the action.

For the route by route case, I imagine it reasonably easy to be able to make a construct to the tune of
[code]

which I think is essentially your 3rd strategy and a new class of AuthRules. W

[2016-12-30 23:50] zarthross commented on #14
I imagined something not too far off from what your suggesting, might just need to experiment with a couple solutions.

As for the change to HListToFunction, I think it would be enough if the 'authenticate' method added a parameter the function takes instead of changing HListToFunction to be auth aware.  I personally think the authentication should be route based, mostly so we can get some data in

[2017-01-03 14:57] shengc commented on #156
I am just thinking out loud. The change could be as simple as follows,

[code]

I indeed am not quite comfortable with the current implementation of Fallthrough logic. As I mentioned in the related PR, using a dedicated `Response` object to drive the Fallthrough logic potentially makes the middleware manipulating the Response` fall into the cracks.

[2017-01-21 03:46] bryce-anderson opened #165 "Swagger doesn't work well with `||` operators"
This can be observed via broken swagger docs for routes that have such definitions. This brings me to the important question: does the `||` logic serve a real purpose or is it just a cool trick? I'm pretty pleased to be able to do it, but most of the examples I can think of are highly contrived. That would be fine except it brings significant additional complexity, thus this bug.

Do any of the rh

[2017-01-21 03:51] bryce-anderson opened #166 "It would be nice if swagger generation was more flexible"
The case that comes to mind, brought up in the http4s gitter room by @ktonga, was that it's not possible to use http4s middleware on a subset of routes and still generate complete swagger docs because the current state of swagger generation requires all the routes to be available in one pass. I don't expect this to be difficult to add.

[2017-01-21 04:15] bryce-anderson opened #167 "We log a lot of things, and sometimes we may not want to"
The important concern is logging the value of parameters during decoding failures, and those values may be sensitive. At a minimum, we should have a way to manipulate such logging, but should probably have a good API for letting the user control this.

[2017-01-25 03:58] #166 closed

[2017-02-01 17:01] zarthross opened #170 "Add ability to customize CollectionFormat in swagger output."
I have query string parameter that parses multiple parameters like so: "foo=bar&foo=baz", but swagger's docs see it as "foo=bar%2Cbaz".  I believe this is because the CollectionFormat defaults to 'None' in our generator which translates to 'csv' which is NOT what I need.

We need a way, probably on the `QueryParser` or `param` to specify the collection format we want to use.

Here are the valid va

[2017-03-17 12:17] reactormonk opened #173 "Raw Ok[Task[String]] fails"
In ammonite:

    import $ivy.`org.http4s::rho-swagger:0.16.0a`
    import org.http4s.rho._, scalaz.concurrent.Task
    new RhoService { GET / "foo" |>> { Ok[Task[String]](???) } }

fails with

    cmd2.sc:1: diverging implicit expansion for type org.http4s.rho.bits.HListToFunc[shapeless.HNil,scalaz.concurrent.Task[this.Ok.T[scalaz.concurrent.Task[String]]]]
    starting with method taskEncoder in

[2017-03-18 17:41] bryce-anderson commented on #173
We've had numerous problems with implicits, including a [blocker that prohibited using scalac >= 2.11.8](https://github.com/http4s/rho/issues/136).
I don't have a quick solution other than the workaround you have. Unfortunately most of the magic of rho is due to fancy implicit resolution tricks, but we may have maxed out that credit card.

[2017-03-27 15:30] reactormonk commented on #173
I forgot to mention - if you call parts of the expression beforehand with `implicitly`, it compiles.

[2017-03-29 13:27] reactormonk opened #174 "`|>> { .. }` should be thunk"
@ import $ivy.`org.http4s::rho-swagger:0.16.0a`
    @ import org.http4s.rho._
    @ new RhoService { GET / "foo" |>> { println("hit"); Ok("foo") } }
    hit

Pretty sure the response clause should be thunked.

[2017-04-01 18:05] bryce-anderson commented on #174
Its been a while, but I recall this being an intentional choice on my part. If you want thunk like behavior, `Task` provides that for you.

[2017-04-01 18:05] #174 closed

[2017-04-01 21:32] reactormonk commented on #174
I didn't expect that, since any other code in that context is executed as a thunk, so I expected this one to be that way too.

[2017-04-02 00:04] bryce-anderson commented on #174
I believe the right hand side of the `|>>` operator is always evaluated eagerly. I'm guessing that you are referring to routes who's actions are a FunctionN, which reminds me: another good alternative is to use a Function0:
[code]

[2017-04-05 06:15] neilbacon opened #175 "how to use with argonaut?"
I've been using the http4s DSL with Argonaut and I'd like to switch to rho, but I can't figure out how to define the HListToFunc that seems to be required.

To get |>> to compile in (where NodeQuery is a simple case class with an argonaut.CodecJson defined):

    POST / "node" ^ jsonOf[NodeQuery] |>> { q: NodeQuery =>

I need:

    val responseEncodings = Set(MediaType.`application/json`)
    type

[2017-04-05 06:31] neilbacon commented on #175
oh, just read this is a blocker: scalaVersion := "2.11.8"

[2017-04-21 17:59] refried commented on #54
I'll try to take notes this time, since I'm kind of relearning everything.

[2017-04-25 10:24] reactormonk opened #179 "Custom data types"
I've got a `NonEmptyList[Foo]`, which gets serialized in a good old list. I can write a custom `Property` for `NEL[Foo]`, but how do I get hold of the reference of `Foo`?

[2017-06-13 02:36] changlinli opened #181 "Lack of example field in Swagger `Property`s?"
Rho's Swagger `Property` doesn't have an `example` field whereas the `Property` interface in the `swagger-models` does have a `getExample` and `setExample`. I think this shows up for example in how Swagger-UI is able to construct an example for a piece of JSON by concatenating together the examples for each of its constituent parts.

Is there any reason that was omitted? If not is adding it any mo

[2017-06-13 02:40] changlinli opened #182 "Should `SwaggerFormats` be sealed?"
It looks like the only thing that extends `SwaggerFormats` is `DefaultSwaggerFormats`. Could you just keep the `DefaultSwaggerFormats` object around (and probably rename it to just `SwaggerFormats`) and remove the trait? Or perhaps open up the trait to extension?

As it stands, if I want to customize some of the Swagger output of my models, I'm not sure quite sure whether I'm supposed to be using

[2017-06-13 03:40] bryce-anderson commented on #182
I think you're right: the `SwaggerFormats` trait should probably be turned into a final case class with fields for the serializers and field serializers. If you're interested, a PR for this would almost certainly be accepted. 😄

[2017-06-13 04:20] changlinli commented on #182
Well since you asked so nicely... :). Here's a first pass.

[2017-06-15 01:19] #182 closed

[2017-06-16 04:07] bryce-anderson commented on #181
No particular reason it was omitted. Your commit adds support in the swagger representation, but to be useful it would also need to be settable in the route construction API. If this is a feature you're interested in working on, I'm certainly not opposed to another great PR or two. 😄

[2017-06-17 00:48] changlinli commented on #181
Hmmm... I'd love to take a whack at it, but I'm probably going to need some guidance from you or other more experienced Rho people about the best way to integrate this into the existing Rho code. From what I understand of the route construction API and Swagger (which again is very little), it seems like this isn't something that would be directly addressed in the route construction, but rather is

[2017-06-21 05:48] changlinli commented on #181
Oh never mind, I missed the fact that we want this at the type level, not the value level. In which case it might already be enough to just expose `SwaggerFormats` to allow users to add examples. I was hoping to have use an implicit `SwaggerFormats` of an intermediate type `A` used in the construction of another type `B` to allow for an automatic modification of type `B`, but that looks increasing

[2017-06-22 03:23] bryce-anderson commented on #181
It would definitely be a challenge, but if you want, a first step would be to surface the swagger Java API in our own. Worst case: it goes unused.

[2017-06-27 03:55] changlinli commented on #181
Did you mean surfacing it in some other way than just in `Property`? Because I think you can already get at the example by writing out a `SwaggerFormats` manually.

[2017-07-07 08:23] eklavya commented on #14
Looks like a big change with alternative methods for AuthedRequest all the way. Any workarounds for this? I need to mix AuthedService and RhoService. :(

[2017-09-06 02:34] eklavya opened #188 "Missing implicits error"
Hi, I am facing a weird issue where the RhoService only compiles if a particular handler is at the top and fails otherwise.

I have created a test case here: https://github.com/eklavya/RhoTestCase

Please let me know what I am doing wrong here.

[2017-09-06 03:32] eklavya commented on #188
Moving imports from inside RhoService to top level fixes the problem.

[2017-10-04 16:21] dragos opened #191 "Example doesn't compile: Divergent implicit"
I extracted the swagger example in its own Sbt project and I get the following compilation error:

[code]

I used the following build file, and the files under `src/main/scala` are exactly the files in the [rho-examples/../swagger](https://github.com/http4s/rho/tree/master/examples/src/main/scala/com/http4s/rho/swagger/demo):

[code]

[2017-10-05 18:08] rossabaker opened #192 "Travis deployment is broken"
https://travis-ci.org/http4s/rho/jobs/281292952

I don't know what's in deployprep to try to fix whatever keys got ripped asunder.  I can fix this, but I probably can't fix it in the same way.

[2017-10-06 01:58] bryce-anderson commented on #192
We're back: https://travis-ci.org/http4s/rho/jobs/283991634

[2017-10-06 01:59] bryce-anderson commented on #192
We're not back... https://travis-ci.org/http4s/rho/jobs/251580095

[2017-10-06 02:22] bryce-anderson commented on #192
Okay, its really fixed now: https://travis-ci.org/http4s/rho/builds/283996526

[2017-10-06 02:22] #192 closed

[2017-10-28 12:01] zarthross opened #196 "Build with SBT 1.0"
We should get the build scripts up to date with SBT 1 now that its released.

[2017-10-28 12:01] zarthross commented on #196
I've been working on doing these updates at work recently, so when I get a chance I'll try and get this repo building with it as well.  I've already taken steps to doing this with #195.

[2017-11-15 18:52] #196 closed

[2017-12-04 06:07] JanGe opened #203 "ScalaReflectionException in TypeBuilder"
I'm trying to define an endpoint in Rho that gets passed an entity in JSON Patch format by using the definitions from [diffson-circe](https://github.com/gnieh/diffson/blob/master/circe/src/main/scala/gnieh/diffson/CirceInstance.scala):

[code]

When hitting the `GET /swagger.json` endpoint, the `JsonPatch` definition is missing from the spec and an exception is logged:
[code]

[2017-12-05 05:47] bryce-anderson commented on #203
Looks like a bug, thanks for the report! I don't think I'll be able to take
care of it for a few days, but if you're interested in taking a swing at
it, I could probably provide some guidance.

On Sun, Dec 3, 2017 at 11:07 PM, Jan Gerlinger <notifications@github.com>
wrote:

[2017-12-06 05:03] wongelz opened #204 "Release a http4s-0.16 compatible version"
Can we release a version of rho compatible with http4s-0.16. This is the final scalaz version of http4s, so I imagine a lot of people will be stuck on it for a while.

Of the versions of rho on maven central, 0.16.2 was built against http4s-0.15, then the next version 0.17 jumps to http4s-0.17.

[2017-12-06 05:08] rossabaker commented on #204
Interesting. I didn't realize that had been skipped.

Volunteers to prepare a branch?  Suggestions on version number?

On Dec 6, 2017 00:03, "wongelz" <notifications@github.com> wrote:

[2017-12-18 14:31] anne-nelson opened #207 "Release a http4s-0.18 compatible version"
Are you going to release a new version compatible with http4s-0.18 anytime soon?

[2017-12-18 15:14] jcranky commented on #207
I'm working on that here: https://github.com/http4s/rho/pull/193

[2017-12-31 12:27] RafalSumislawski opened #208 "rho should not use `void` in swagger"
Hi.
I was looking for a way implement an endpoint that return no entity although the response code it returns allows presence of an entity (it works fine for 204 and other codes forbidden to have an entity). It turned out that:
[code]
produces `swagger.json` with:
[code]
which contains `"type" : "void"`.
There's no `void` type in [swagger specification](https://github.com/OAI/OpenAPI-Specification

[2018-01-02 19:35] RafalSumislawski commented on #208
Yes. I'll try fixing it.

[2018-01-09 18:42] RafalSumislawski opened #210 "Complex types should not be used in Swagger's parameters located in path or query"
The parameter object is specified at https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameter-object

The following code:
[code]
results in a swagger.json not conforming to the specification:
[code]
The `parameters` for the crazyPathVar is incorrect, because the `type` is `"Foo"`and according to the specification for the `type`:
"Since the parameter is not located at the

[2018-01-11 17:16] #208 closed

[2018-01-13 16:14] bryce-anderson commented on #210
Your proposed solution seems reasonable to me. Would it be as simple as remapping non-basic types to `string`? If you're interested in tackling this one to, PR's are always appreciated!

[2018-01-30 10:58] jcranky commented on #204
Done, right?

[2018-01-30 10:58] #204 closed

[2018-01-30 11:01] jcranky commented on #191
Could you check if you still have this problem with `0.18.0-M1`?

[2018-01-30 14:01] bryce-anderson commented on #204
Yes, I believe so.

[2018-02-01 17:01] jcranky commented on #188
@eklavya should we close this or is this still a problem with the current version ?

[2018-02-02 03:43] eklavya commented on #188
I didn't try the same thing but moving imports to the top did solve this. I think we can close this.
Maybe in the examples the imports should be shown at the top.

[2018-02-02 09:08] jcranky commented on #188
Sounds good, PR coming :)

[2018-02-03 15:43] #188 closed

[2018-02-06 14:51] DStranger opened #216 "Implicit EntityEncoder for circe Encoder breaks compilation"
Hi guys,

The following code doesn't compile with a `could not find implicit value for parameter hltf: org.http4s.rho.bits.HListToFunc[F,String :: shapeless.HNil,String => F[Test.this.Ok.T[String]]]`.
[code]

Removing `autoEncoder`, or removing the `io.circe.Encoder` constraint fixes the problem.

[2018-02-06 17:03] bryce-anderson commented on #216
Curious, since I believe the interesting part is that there isn't any need for the `Auto` entity encoder anyway. Do you need to remove the `io.circe.Encoder` import, or just the constraint in the `autoEncoder` method?

[2018-02-06 18:45] DStranger commented on #216
@bryce-anderson in this code there's indeed no need for `Auto`, but I've adapted it from some code that finds this construct useful (adapted from the swagger example).
Removing just the constraint works.

[2018-02-10 20:27] ChristopherDavenport opened #218 "Conflicting Implicit With Cats Implicits"
Minimal Example Could likely be smaller.

#### The below works correctly
[code]

#### The Following Fails to Compile
[code]

Fails With -

[code]

Seems we are fighting with how to handle Vector somehow.

[2018-02-11 16:31] zarthross opened #219 "Customizable Error Messages"
I have a requirement for my APIs where all messages are in JSON format.

Rho has several places where error messages are hard coded.
I would prefer if users can specify their own error messages so they can be JSON, ProtoBuf, XML, Japanese, or whatever a user might need.

To list a few:
(Line numbers based on tag `v0.18.0-M1` instead of `master` for stability)
- [ ]  `PathTree.scala` line [263](htt

[2018-02-11 16:38] zarthross opened #220 "Improved Swagger Generation"
The swagger for my services are often generated incorrectly because I use custom JSON codecs, or my data types are recursive etc.
While I can override this with `SwaggerFormats.withSerializers` I feel like their should be an easier/better way.
(Side note... you can modify `Model` and `Property` this way, but not `Parameter`s)

Would it be possible, or desirable to instead of using a `TypeTag` have

[2018-02-12 12:00] jcranky commented on #219
I would favor option 2 as well. Implicits in the project already are taken to its extreme, and adding more overrides could makes things harder to understand, specially when they go wrong.

[2018-02-12 12:06] jcranky commented on #220
I also had this kind of problem in the past, so if you can come up with a clean way to fix that, that would be nice :D

[2018-02-12 12:07] jcranky commented on #207
I guess we can now release, right @bryce-anderson  ? :) Specially after @eklavya report that he migrated to latest snapshot without issues

[2018-02-12 14:19] ChristopherDavenport commented on #207
We have the milestone release. We have the UUID/Date components which we could ship into an M2. I think its wise we solve #218 because I think it will cause a lot of pain to normal use cases to folks who don't use specific imports. Then we should address which other issues we need to take care of to go from milestones to a full release.

[2018-02-12 14:23] eklavya commented on #207
If anything reduces the implicit fragile ness I would say wait for it. Till then local builds will do.

[2018-02-12 15:40] bryce-anderson commented on #207
I don't have a strong feeling about it one way or the other, but I suspect #218 is a simple fix other than it will require some pretty difficult debugging. I think @ChristopherDavenport's plan is pretty solid.

[2018-02-12 15:56] jcranky commented on #207
Works for me :)

[2018-02-15 10:19] DStranger commented on #216
@bryce-anderson the problem resolves if I disable partial unification

[2018-02-15 16:00] bryce-anderson commented on #216
Interesting.

[2018-02-15 16:04] SystemFw commented on #216
that `EntityEncoder` should not be defined like that. I don't know if it's related to this specific problem or not, but might worth having a look at this:
https://github.com/http4s/http4s/issues/1648

[2018-02-16 14:03] DStranger commented on #216
@SystemFw yes, I don't think that's related, the error in http4s/http4s#1648 was caused by `jsonEncoderOf` requiring an instance of `EntityEncoder[F, String]`, here it's not the case.

[2018-02-16 14:19] SystemFw commented on #216
The puzzling thing here is the interaction with partial unification

[2018-02-26 02:39] #210 closed

[2018-03-24 15:18] zarthross commented on #218
Alright, I've done a little implicit sleuthing, and found what MIGHT be the problem.
`implicit def maybeIsWritable[F[_], T](implicit t: WeakTypeTag[T], w: EntityEncoder[F, T] = null): MaybeWritable[T]`  Cannot infer the type of `F` so it cannot get the correct `EntityEncoder`  IF we have
[code]
imported

Example i found:
[code]

I left the commented code in the class to show my path to the implici

[2018-03-24 16:06] zarthross commented on #218
Here is an even more simplified example of the problem, pulled out of the context of a `MaybeWritable`  at least as far as I can tell...
[code]

[2018-03-24 16:13] zarthross commented on #218
Alright, here is my suggestion... If yo guys like it, I'll submit a PR:
[code]
We add an `Aux` to the `MaybeWritable` then in the `ResultMatcher.statusMatcher` method when trying to get all the implicit `MaybeWritable` we use the Aux for to hint the compiler for the correct 'F'.  How does that sound?

[2018-03-24 16:24] zarthross commented on #218
Or I'll just submit one and wait for comment since it wasn't that hard to implement once I did the root cause analysis.

[2018-03-29 12:46] ChristopherDavenport commented on #207
I think we're ready to cut an 0.18.0 without any objections. Does anyone have any issues they'd like to wait on, or should I cut this today?

[2018-03-29 14:20] jcranky commented on #207
fine for me

[2018-03-29 18:53] bryce-anderson commented on #207
cut it.

On Thu, Mar 29, 2018 at 8:20 AM, jcranky <notifications@github.com> wrote:

[2018-04-02 16:23] loicknuchel commented on #207
Hello, nice ;)
Seems, the release is done.
It should be nice to update https://github.com/http4s/rho/wiki/Versions also

[2018-04-02 20:01] ChristopherDavenport commented on #207
Done and done. 👍

[2018-04-02 20:01] #207 closed

[2018-04-02 21:02] bryce-anderson commented on #114
I don't think so. I have left it in because it wasn't a maintenance burden, but if it starts to become so I think we should drop it.

[2018-04-12 13:21] wookievx opened #229 "Idiomatic way of evaluating and handling errors"
I have recently picked-up rho. I would like to know is there an "Idiomatic" way to deal with the following case:

- I have domain specific function returning some value
- There are some hierarchy of errors i need to evaluate accordingly and respond to the client with proper status code
- I would like to be able to retain type information about errors/return types that will allow to generate docume

[2018-04-12 14:01] wookievx commented on #229
I found one source of my compilation problems:
`def handleError(error: Throwable)`
Has in fact type F[Result[F,...]]
Basically `flatten` solves my problem

[2018-04-13 05:07] jmcardon commented on #229
use `handleErrorWith`

[2018-04-25 09:02] Igosuki commented on #216
I have the same problem. circe.generic.auto works fine for EntityDecoders but not Encoders with Rho...

[2018-04-30 21:12] amohrland opened #230 "Converting an authed RhoService to a HttpService adds auth to Swagger endpoints"
So I’m having some trouble with getting Rho to work so that endpoints with auth are authed, while Swagger endpoints are not. It seems like the way to get from a RhoService with authed endpoints is to convert to a HttpService with `val one = rhoService.toService(swaggerMiddleware)`, then to an AuthedService with `val two = authedContext.toService(one)`, then use an AuthMiddleware to convert the Aut

[2018-05-01 23:04] amohrland commented on #230
After taking another look at this a digging a little deeper, it looks like there are methods exposed that will allow the Swagger endpoint to be exposed outside of the auth context.

[2018-05-01 23:04] #230 closed

[2018-05-02 14:19] amohrland commented on #230
For posterity, the latest version of https://github.com/amohrland/how-do-i-do-authed-rho shows how use the middleware methods to expose Swagger outside of the auth context. Here is the relevant bit:

[code]

[2018-05-04 17:48] #229 closed

[2018-05-06 14:43] zarthross commented on #218
This can be closed.  PR #228 fixed this.

[2018-05-06 18:40] #218 closed

[2018-06-07 17:43] Igosuki commented on #216
I fixed it by hard encoding the import statements in the right order :
  import swaggerSyntax._
  import io.circe.generic.auto._
  import org.http4s.circe._
  import org.http4s.rho.bits._

It's a conflict of implicits between rho.bits, circe and http4s.circe

[2018-06-19 21:17] nightscape commented on #229
Hi @wookievx, @jmcardon,

would you be so kind to post a working example here?
The best thing I could come up so far is something like this
[code]
where `findItem` returns a result in a `F : Effect`.
But that messes up the Swagger documentation completely (there's no `responses` key in the corresponding hash)...

[2018-06-20 19:11] wookievx commented on #229
`widen[Result.BaseResult[F]]` is source of your problem, you are erasing all type information about response, you should be able to compile and run your code without it and it should work just fine.

Checkout the following example (avoided imports, there is probably Effect needed and applicativeError syntax in scope, but it's just a detail):
[code]
Now error handling can be separated from the "mai

[2018-06-22 15:47] nightscape commented on #216
@Igosuki could you post a full example?
I'm just running into the same problem and I can't seem to figure it out...

[2018-06-25 21:53] zcox commented on #203
I see a very similar stack trace when using Shapeless `Coproduct`:

[code]

I wrote a [small example that reproduces the stack trace](https://github.com/zcox/rho-coproduct-test). It seems to work very well with a sealed trait hierarchy, but not with Coproduct.

[2018-08-15 15:38] carwynellis commented on #170
Just come across this issue which is exactly what I need for an API I'm working on. We specify multiple values using the `multi` style, but the generated swagger omits the `collectionFormat` property since it's never set in the `QueryParameter` model class.

Would be awesome to be able to specify the collection format on a multi-value query parameter.

[2018-08-24 18:53] gpoirier opened #235 "Model documentation"
How do we add documentation on the model like field descriptions? The only thing I could see was from a .md file in github where we can add doc using `withSerializer` on DefaultSwaggerFormats, but it doesn't seem very convenient. I tried adding the swagger-api annotations on the case class to document the fields, but those were ignored.

Is there a better way that I'm missing?

Also, it would also

[2018-08-24 18:55] gpoirier commented on #235
hmm, I realized after posting that I should have looked at other issues first. Looks like someone asked a similar question just before me: https://github.com/http4s/rho/issues/220

[2018-09-03 12:52] DStranger commented on #216
@nightscape did you happen to find a workaround? )

[2018-09-03 21:52] Igosuki commented on #216
Two things to do @nightscape @DStranger
- use scala 2.12.6
- use proper import order :
[code]

here's the encoders def I'm using :
[code]

[2018-09-03 21:54] SystemFw commented on #216
Perhaps someone can open a PR to the `rho` docs for this?

[2018-09-03 21:55] Igosuki commented on #216
I haven't investigated where the problem comes from exactly since I didn't know the codebase until my last PR... I suspect it has to do with Circe's macros which conflict with rho's Kleisli's and shapeless.

[2018-09-03 21:57] Igosuki commented on #216
Typically, you can get a similar type of error if you use circe.generic.auto and sealed traits with noKnownSubclasses until scala 2.12.4 it's a question of what class gets resolved first when the compiler reaches a certain phase.

[2018-09-20 12:01] chuwy commented on #216
Not sure if it is exactly same, but I see `could not find implicit value for parameter hltf` compliation error for any endpoint that can return more than one type of HTTP response:

[code]

[code]

Works fine either without decoding or with single HTTP status.

[2018-09-24 06:58] paul-lysak opened #248 "OpenAPI support"
Are you planning to add support of OpenAPI (https://github.com/OAI/OpenAPI-Specification)? Do you need help with this?

[2018-09-24 10:33] aeons commented on #248
There is already support for swagger, the predecessor for OpenAPI. I think updating the swagger dependency and fixing whatever breaks from the update would be enough (that might be a lot of work though).

Feel free to submit a PR :)

[2018-09-24 14:56] paul-lysak commented on #248
I mean OpenAPI 3.0 or more fresh which is indeed based on Swagger but isn't 100% compatible. Do you think it's OK to replace current Swagger 2.0 spec generator with OpenAPI 3.0 or they must coexist? I'll try to prepare a PR, probably will take a long time.

[2018-09-28 15:03] paul-lysak opened #251 "Return 400 if required query parameter is missing"
If method and path in request match some route but don't contain mandatory query parameters I would expect a 400 error response rather then attempts to match subsequent routes. Otherwise, it's hard to do error handling properly.
This gist gives an example of what I mean: https://gist.github.com/paul-lysak/c3305c5bb0771fd97e9f4e7041dabfcb
It's possible to emulate such behavior by adding one more ro

[2018-09-30 18:32] chuwy commented on #251
I'd expect exactly this behavior: in the first route we stated that service needs a `barId` param, then client didn't provide it and that's why URL was not matched. I think if `/foo/bar` needs to return 400 then we have to handle it explicitly: make `barId` optional and check if it is provided/valid or return 400 otherwise.

[2018-10-01 06:56] paul-lysak commented on #251
@chuwy the swagger spec would be incorrect then which undermines the whole point of using the Rho - a required parameter will be indicated as optional there.

[2018-10-01 06:59] paul-lysak commented on #248
Unfortunately, won't be able to work on a PR for this issue as https://github.com/http4s/rho/issues/251 was a show-stopper for us, we're not going to proceed with Rho adoption.

[2018-10-01 08:05] chuwy commented on #251
I think we need to decide here if we want to:

1. Match it and return 400 (with optional parameter)
2. Not match it (and have required parameter)

Both options look valid to me when they're explicitly stated by developer. But maybe this is some kind of personal preference, I'd like to hear other people's opinion.

[2018-10-01 19:31] chuwy commented on #220
I got over-excited about this one recently and even started to work on typeclass-based approach when stumbled upon the erasure in `RhoService`. Basically, we have `routers: Seq[RhoRoute[F, _ <: HList]` during Rho middleware invocation, which means we don't have compile-time information about contents of that HList in `RhoRoute` and hence can pull it only with reflections.

I believe that replacing

[2018-10-01 23:46] zarthross commented on #220
So, I also started this a while back and unfortunately it fell on the back burner.

Here was some of my work: https://github.com/http4s/rho/compare/master...zarthross:Swagger-Typeclasses

I was taking the approach of having each route capture its metadata rather than doing a middleware approach like it sounds like you were taking.

Your idea for a 'SwaggerModel' is not dissimilar from what I was d

[2018-10-02 06:36] chuwy commented on #220
Hey @zarthross! This is great to see some work has been done already!

That's one of the reasons I wanted to go with middleware approach. It would allow us to not depend on particular representation of type/model (e.g. `ResultMetadata` and pretty much any class we can define will be lossy compared to reflection types) and perform lossy transformations (such as Rho -> Swagger) only in the end (when

[2018-10-02 17:12] zarthross commented on #220
I agree that my approach was going to be at lossy.  I was trying to have a minimal API change, and minimize some pain points, but perhaps something more drastic will be required.

The first hurdle with your path is going to be the way the `RhoService` and `CompileService` throw away the type information.   Once you tackle that you now have the incomprehensible monster of an `HList` of `RhoRoutes`

[2018-10-07 13:49] zarthross commented on #251
I suspect we should only be matching on the path and not on the  query parameters, and letting the route fail if required parameters aren't provided.  Unfortunately we can't (currently) prevent users from accidentally writing 2 routes with the same path but different query strings matchers, so users would only ever see the first fail.
I really wonder what the original design choice was here and wh

[2018-10-07 13:52] zarthross commented on #248
Since swagger 2 and OpenAPI 3 are incompatible should we provide support for both?  OpenAPI3 support is a fairly large change.   I switched the jars for swagger-core to 2.0.5 and found at least 130 compile errors...

If we decide to support both, should they be separate jars?  Mixed together (which we can do since they choose different artifacts and packages for swagger3)?  Should we support gener

[2018-10-07 18:33] chuwy opened #256 "Get rid of unsafe function in AuthedContext"
`AuthedContext.getAuth` throws an exception when underlying `AuthMiddleware` returns `None` (or if middleware was not applied). Was initially raised [here](https://github.com/http4s/rho/pull/253#discussion_r223210948).

Here's how I first time stumbled upon this.

1. I wanted to have a route `/entities` without authorization required (but instead behavior would be *slightly* different when user is

[2018-10-07 19:50] chuwy commented on #248
Is there any benefits of having Swagger 2? If no - I'd move along and switch to Open API entirely.

[2018-10-07 22:38] zarthross commented on #248
I need to check, but the platform I use at work may not support openapi 3.  I'll verify this week.

[2018-10-09 08:39] carwynellis opened #257 "Optional CSV parameters rendered incorrectly in the Swagger"
Apologies if this issue has been reported before but I couldn't find any issues open or closed covering  this.

We have an optional CSV field on our API e.g.

`param[Option[Seq[String]]]("ids")`

However the parameter in the swagger is rendered as

[code]

instead of

[code]

Note that we need this parameter to be optional in the swagger e.g. `"required": false`.

If the parameter is defined as `p

[2018-10-09 11:47] zarthross opened #258 "Use SBT Release Early"
In order to allow users to use their peer reviewed code more quickly after acceptance, and to make releasing easier for devs, we should switch to the [sbt-release-early](https://github.com/scalacenter/sbt-release-early) plugin.

[2018-10-09 17:52] zarthross commented on #173
As of http4s 0.19  `EntityEncoder` will be pure, so there won't be an `EntityEncoder[Task[String]]`.

You should use `foo.flatMap(Ok(_))` going forward.

[2018-10-09 17:52] #173 closed

[2018-10-09 17:54] zarthross commented on #175
@neilbacon has this been resolved for you?  Can I close this issue?

[2018-10-09 18:01] #151 closed

[2018-10-09 18:05] zarthross commented on #156
Http4s 0.19 has a new mechanism for dealing with closing  routes with a custom not found response.  Rho 0.19 will support this as well.  Feel free to reopen if it isn't satisfactory then.

[2018-10-09 18:05] #156 closed

[2018-10-09 21:56] neilbacon commented on #175
Sure, but maybe document scala version compatibility?

[2018-10-09 23:32] zarthross commented on #175
Noted in the [wiki](https://github.com/http4s/rho/wiki/Versions)

[2018-10-09 23:32] #175 closed

[2018-10-11 20:20] chuwy opened #260 "Add rho-refined module"
Finding myself writing instances of `StringParser`, `QueryParser` etc for core refined types.

[2018-10-14 20:32] zarthross opened #262 "Add HTTP Status Codes 103, 421, and 425"
https://github.com/http4s/http4s/pull/2170

[2018-11-11 16:43] RafalSumislawski commented on #219
Hello
Have you considered using the `org.http4s.ServiceErrorHandler`? It's how http4s lets users override responses for errors. It also provides nice logging of errors by default, which I miss every time rho hits me with "The request body was malformed." and no details or logs. It may not be as fine-grained approach as typeclasses, but it seems to be enough to satisfy the need to provide custom er

[2018-11-12 11:19] RafalSumislawski opened #268 "Apperance of a sum type affects models of other unrelated types."
Given the following code:
[code]
one would expect that the models of `Baz` and `Baz1` should differ just in name and have no connection to the `FooBar`. Rho generates the following swagger.json:
[code]

The interesting part is the model of Baz:
[code]
The model refers to `FooBar` as if `Baz` was a subtype of the `FooBar` sealed trait. But it isn't.

I've tracked the issue to the line [92 in TypeBu

[2018-11-17 19:37] RafalSumislawski commented on #248
The system I'm working on used to use OpenAPI 3, but after getting some complaints about it being incompatible with various tools, we decided to make a step back and use Swagger 2. So yes, there are benefits of keeping Swagger 2 support.

A notable example of a tool not supporting OpenAPI 3, but supporting Swagger 2 is Postman. https://github.com/postmanlabs/postman-app-support/issues/3390

[2018-11-20 19:16] RafalSumislawski opened #272 "Value classes shoule be treated transparently"
When building the swagger model, rho treats
`case class Foo(s: String) extends AnyVal` as a `String` and `case class Foo(i: Int) extends AnyVal` as an `Int`. But when the value class contains some type not natively supported by Swagger the model of that type is not discovered. In the example:
[code]
the model of `Point` is not discovered by the `TypeBuilder` and so the generated Swagger file is in

[2018-11-28 21:35] nightscape commented on #203
I just ran into the same problem. It seems to me that the `isObjectEnum` method is missing the `sym.isClass` check that most other methods have:
https://github.com/http4s/rho/blob/d05998fdbd2f15df0b18bdd7f30437db02c766f0/swagger/src/main/scala/org/http4s/rho/swagger/TypeBuilder.scala#L138
@reactormonk @bryce-anderson I saw this was introduced in [this commit](https://github.com/http4s/rho/commit/a

[2018-12-01 15:05] #268 closed

[2018-12-09 12:32] #262 closed

[2018-12-09 17:36] zarthross opened #274 "Use Migration Manager to ensure binary compatibility"
Before 0.19.1 is released, we'll need to start using [Mima](https://github.com/lightbend/migration-manager) to ensure binary compatibility is preserved.

[2018-12-29 00:01] balthz opened #278 "Multiple routes with difference Accept headers results in swagger.json with incomplete `produces`"
(I'm filing this per [discussion](https://gitter.im/http4s/rho?at=5c26266f2863d8612ba068a5) with @zarthross on Gitter.)

**How to reproduce**

[code]

Once this is running, I did a

[code]

and got:

[code]

I'd have expected to see also "application/json" in the "produces" array.

**Note**

The actual routes work correctly:

[code]

[2019-01-09 18:39] RafalSumislawski commented on #203
I've managed to implement tests reproducing issues reported by @JanGe and @zcox . Basing on these tests I can confirm that the direct cause for scala.ScalaReflectionException being thrown is the lack of `sym.isClass` in  `isObjectEnum` as @nightscape pointed out. Having already worked a bit with the `TypeBuilder` I see no reason for omitting the `sym.isClass`. Adding it doesn't break any tests.

T

[2019-01-13 13:58] #272 closed

[2019-01-13 14:08] zarthross opened #283 "Shapeless `Coproduct` support."
Presently generating the swagger model for a shapeless `Coproduct` type outputs lots of implementation details about `Coproducts`.  Rho should output a composite type with each type included instead.

See [discussion and test case here](https://github.com/http4s/rho/pull/281#discussion_r247348087)

[2019-01-13 22:07] #203 closed

[2019-01-13 23:19] zarthross commented on #203
I've added issue #283 to address the special case for Shapeless `Coproduct`.  That seems the best course of action for that.

@JanGe Version [0.19.0-M5](https://github.com/http4s/rho/releases/tag/v0.19.0-M5) should have a fix for this issue (see PR #281), can you confirm (once I get it released that is)?

Thanks @RafalSumislawski for running this down and submitting a PR!!!

[2019-01-19 17:14] zarthross commented on #216
@ChetanBhasin your issue is `Ok` and `NotFound` return an `M[Result[...*]]`, so when you do `F.getProduct.map ...` you should really be using `flatMap` so you aren't doing `M[M[Result[...*]]`.

 Also, just random note, `class ProductRoutes[M[+_]: Effect, F[_]]` the `F[_]` is unused in your class.

[2019-02-20 20:38] danxmoran opened #291 "NoSuchMethodError from SwaggerSupport"
Using:
* http4s 0.20.0-M5
* rho 0.19.0-M5

I'm able to compile simple route definitions, but when I try to run my app I get a `NoSuchMethodError` generating the Swagger routes. The full stack trace is:
[code]

I haven't been able to minimize the problem, but my WIP code is [here](https://github.com/DataBiosphere/transporter/tree/dm-transporter-status-version-DSPDC-175).

[2019-02-20 20:49] danxmoran commented on #291
🤦‍♂️ nevermind, I'd somehow gotten my local caches into a bad state. Wiping everything fixed the problem.

[2019-02-20 20:49] #291 closed

[2019-02-20 20:49] zarthross commented on #291
Does sbt provide any eviction warnings?

On Wed, Feb 20, 2019, 2:38 PM Daniel Moran <notifications@github.com> wrote:

[2019-02-21 00:58] zarthross opened #292 "Circe auto generic derivation causes diverging implicit expansion of `HlistToFunc`"
I'll try and put in an example next week, but it appears the fix for #216 does break using circe's fully automatic derivation.  In the mean time, the work around is just using the semiauto derivation instead.

[2019-02-22 16:21] Igosuki commented on #292
The fix I currently have (which is of course unacceptable) :
[code]

[2019-02-22 18:02] Igosuki commented on #292
Ok, actually I just got rid of all the errors by just extending CirceInstances at package level so I can now remove all these imports and just keep
[code]

[2019-02-25 02:24] danxmoran commented on #292
I see the same error (or a very similar one) when using semiauto derivation with `circe-derivation`:

[code]
[code]
As mentioned in https://github.com/http4s/rho/issues/216#issuecomment-365883653, turning off partial unification gets things to compile, but that's not feasible in my full project. The two other workarounds I've found are:
1. Explicitly call `.asJson` on each response. This fixes com

[2019-02-26 17:42] danxmoran opened #294 "Request bodies marked as not required"
This example:
[code]
Outputs:
[code]
I'd expect the body to be marked with `"required": true`.

[2019-03-28 16:43] vglushak opened #299 "Swagger endpoints ordering"
I’ve noticed swagger is displaying endpoint in no particular order (it’s definelty not alphabetical nor the way how they defined in file).
Is there particular way to control order?

[2019-04-03 14:51] zarthross commented on #299
Looks like the `Swagger-modules` default is to use a `LinkedHashMap` so should preserve order, but Rho is using a simple Scala `Map` so we are loosing our key order.  If we change Rho to use a `ListMap` in a few key places we should be able to correct the order preservation.

[2019-04-03 16:37] #294 closed

[2019-04-04 15:53] zarthross opened #301 "Can't put a decoder after query parameters"
`POST / "foo" +? param[Foo]("foo") ^ EntityDecoder.text[F]` this doesn't build, but should.

The problem is the `QueryBuilder` does not extend `Decodable` while `PathBuilder` does.  So right now you can either have query parameters or a body, not both.

[2019-04-04 22:19] zarthross commented on #299
Fixed with #303

[2019-04-04 22:19] #299 closed

[2019-04-04 22:19] zarthross commented on #301
Fixed by #302

[2019-04-04 22:19] #301 closed

[2019-04-09 18:13] zarthross commented on #219
@RafalSumislawski The `ServiceErrorHandler` can still be used with Rho, but it only triggers if there is an exception.   In many places it isn't an exception, but some validation that fails.  Moreover, what I want is something that gets more granular detail about the failure, so it can't quite be as generic.

[2019-04-16 06:13] PawelJ-PL commented on #292
Currently I'm using solution 2. provided by @danxmoran and model is generating properly

[2019-04-29 12:35] erdeszt opened #313 "Error handling and abstract effects"
I'm trying to use an abstract effect type when defining my routes but I run into errors due to some missing implicits(if I understand it correctly). Here's the code:
[code]

The error is:
[code]

It looks like it can't merge the two `Result` type, but when I use `IO` I get something like this: `Result[F, ...bunch of Nothing..., String, ..more Nothing..., String, ... more Nothing ...]` which includ

[2019-04-29 17:55] erdeszt commented on #313
It might be an issue with type inference because if I widen the types manually to the correct one it compiles:
[code]

[2019-04-29 18:24] erdeszt commented on #313
I've played around a bit more with the explicitly typed example (`YT`) and got this slightly better error message:
[code]

The important part is the suggestion that I should make the argument to the effect type covariant. That fixed the example and my original code as well so it's not a bug, I'll close this issue.

[2019-04-29 18:24] #313 closed

[2019-04-29 19:08] erdeszt commented on #313
Follow up notes:
It worked with both responses types being `String` but I got diverging implicit errors(similar to #292 and the fix suggested there also fixes my issue (manual `EntityEncoder` instances for my response types)). Surprisingly it worked in Intellij with the `Settings > Build, Execution, Deployment > Scala Compiler > Enable specialization` set to true. I couldn't find much info on that

[2019-05-01 17:58] danxmoran opened #314 "Feature request: Allow customizing tags for generated operations"
The models builder [currently defaults](https://github.com/http4s/rho/blob/master/swagger/src/main/scala/org/http4s/rho/swagger/SwaggerModelsBuilder.scala#L232) to using the first segment of an operation's path as its tag. Those tags are used as headings by the Swagger UI to group related routes together. My team follows a pattern of using an `/api` prefix for everything other than status checks,

[2019-05-02 15:09] zarthross commented on #314
I agree, you should be able override those tags and as far as I know there isn't a particular reason why, just never added as a feature.  I imagine tagging would work similar to the way the description is added.

If you want to contribute a patch, I'll be happy to review it and get it added in.

[2019-05-03 13:45] danxmoran commented on #314
Any preferences on syntax? The convention seems to be:
* Symbolic operator
* Extension method on a non-Rho construct, with `RhoRoutes` on the RHS.
[code]

... But without the convention, I'd probably add a new method on `RouteBuilder`:
[code]

[2019-05-03 14:24] danxmoran opened #315 "Add alphanumeric equivalents to symbolic operators?"
Rho makes heavy use of symbolic operators and extension methods for syntax:
[code]
My team (relatively new to Scala) sees this syntax as the biggest pain-point of using Rho, to the point that we ended up defining our own syntax extensions:
[code]
Would there be interest in adding alphanumeric methods like these to the main Rho types? I'm thinking we could do something like the [new collections did

[2019-05-03 23:41] zarthross commented on #315
I am not opposed to adding some aliases to help reduce confusion.
Personally I like the symbolic operators for their compactness, but I
understand it's not for everyone.  I would happily accept a PR for this.

On Fri, May 3, 2019, 9:24 AM Daniel Moran <notifications@github.com> wrote:

[2019-05-14 22:19] #314 closed

[2019-06-19 14:28] Igosuki commented on #278
Having this problem as well, I get produces : application/*, which is what the swagger js client sends to http4s and so gets rejected with unprocessable entity since it expects application/json...

[2019-06-19 14:58] Igosuki commented on #278
Plus it's not possible to setup a default consumes that gets appended everywhere, doing so in swagger syntax doesn't work

[2019-08-27 10:50] holinov opened #339 "bug in sealed hierachies"
if i mix case class and case object in sealed hierarchy it stops showing correct enums
[code]

if i comment out `SeaVal3` it shows normal schema

[2019-09-28 04:43] holinov commented on #339
so? why could not we mix `case class` and `case object` in ADT's?

[2019-10-08 15:24] RafalSumislawski commented on #257
@zarthross I think this issue can be closed.

[2019-10-09 09:20] erdeszt opened #353 "Consumed media type is invalid"
I've added this test to the `SwaggerModelBuilderSpec` and expected it to pass:

[code]

The value of `sb.mkOperation("/foo", ra).consumes` is `List("application/*")`

I think the issue is with the `validMedia` call here: https://github.com/http4s/rho/blob/master/swagger/src/main/scala/org/http4s/rho/swagger/SwaggerModelsBuilder.scala#L264

When I inspect the returned value in the debugger I can se

[2019-11-03 22:01] #339 closed

[2019-11-16 16:49] #353 closed

[2019-11-19 15:21] mgibowski commented on #219
If I can add my 2 cents about handling errors with `ServiceErrorHandler` and rho, I find a bit tricky.

For example this exception will be handled by `ServiceErrorHandler`:

[code]

But this one not:
[code]

It would be caught and logged in [PathTree.scala#136](https://github.com/http4s/rho/blob/v0.18.0-M1/core/src/main/scala/org/http4s/rho/bits/PathTree.scala#L136)

I don't know if that is a desi

[2019-11-25 04:23] logosmjt opened #364 "swagger-ui only show the first service's routes"
In "org.http4s" % "rho-swagger_2.12" % "0.19.0",
BlazeServerBuilder[IO].bindHttp(port, "0.0.0.0") .withHttpApp(service1 <+> service2)...
swagger-ui only show routes of service1, does not show another.

[2019-11-26 02:32] logosmjt commented on #364
service1 works with auth
service2 doesn't work with auth

[2019-11-28 18:24] zarthross commented on #364
@logosmjt Swagger is generated when you convert a `RhoRoutes` to an `Http4sRoutes`, and there is no way to combine swaggers at present. So when you generate `service1` and `service2` into `Http4sRoutes` the swagger route gets overridden.

I have some ideas in mind to correct this, they are WIP.

[2019-11-29 01:33] logosmjt commented on #364
@zarthross I tried " route1.and(route2).and(route3).toRoutes(...)", and it went well.

[2019-12-06 16:17] etspaceman opened #366 "Provide example using the Swagger UI Webjar"
Hello there -

I was going through your examples when setting up a project of my own, and I noticed that you are including the swagger-ui distribution directly in the project's resources files.

Considering http4s has support for webjars, and the swagger-ui is distributed in its own webjar, we should be possible to provide an example that uses said webjar.

[2019-12-07 16:51] zarthross commented on #366
Thanks for opening an issue.  I agree we should at least provide an example using a webjar... what would probably be even better is a module that just hosts the swagger-ui from a webjar to reduce boilerplate for users.

[2019-12-11 08:56] xiongchenyu6 opened #367 "Got Error with http4s-scala-xml"
Scala : 2.13.1
rho : 0.20.0-M1
http4s: 0.21.0-M5
http4s-scala-xml: 0.21.0-M5

I am trying to build a web service and support CAS login, I need to decode some XML from the request body. So I use the http4s-scala-xml 0.21.0-M5 to provide the Entity Decoder, here is the route :
[code]

And get error at runtime

[code]

[2019-12-11 09:08] xiongchenyu6 commented on #367
I guess *rho* just works on the `case class` Since Elem is a `class`. I think this is the desired behavior. Is there any way to work around it? Thanks.

[2019-12-14 17:44] zarthross commented on #367
When you go to generate the swagger routes, you can set some default swagger formats, you could try writing your own swagger format for `Elem`.

See [here](https://github.com/http4s/rho/blob/73b8e7c1bb5694298ffaaa2478b7b3cd6d7f3350/swagger/src/main/scala/org/http4s/rho/swagger/SwaggerSupport.scala#L26) and https://github.com/http4s/rho/blob/master/swagger/src/main/scala/org/http4s/rho/swagger/Swag

[2019-12-16 10:10] #367 closed

[2019-12-27 11:43] Ray-Eldath opened #371 "NoSuchMethodError from rho 0.20.0-M1"
After a day's debug still don't work, pretty frustrating...

Dependencies:
 -   `"org.http4s" %% "rho-swagger" % "0.20.0-M1"`
 -   `"org.http4s" %% "http4s-blaze-server" % "0.21.0-M6"`
 -   `"org.typelevel" %% "cats-effect" % "2.0.0"`

Using Scala `2.13.1`.

It's ok to compile my simple route app, but when run it throw a `NoSuchMethodError`:
[code]

and the code is on [GitHub Gists](https://gist.g

[2019-12-27 16:24] zarthross commented on #371
I apologize for the frustration, but you are using Http4s M6 but the version of Rho you are using is compiled against M5, we can't guarantee binary compatibility for milestone releases (see [here](https://github.com/http4s/rho/wiki/Versions)).

I'll try to get a version compiled against M6 released soon.

[2019-12-28 03:12] Ray-Eldath commented on #371
Apologize for not read the document you mentioned... I downgrade to `0.21.0-M5` and it works fine now.

Many thx.

[2019-12-28 03:12] #371 closed

[2020-01-27 18:58] mbore opened #376 "StringParser for value classes"
It would be great if these would make it to the library. I know that I shouldn't create an implicit function in `rho.bits.StringParser`, but if somebody points me to the right place I'll open a PR with this
[code]

[2020-01-29 18:49] zarthross commented on #376
I'm open to the change, but I want to be cautious about it's implicit placement...

I can think of many cases when wrappers are constructed using AnyVal like refined does, where we want to force the user to use a 'safe' constructor, and this parseAnyVal would break their compiler check... their wrapper would work, but produce unsafe results.

[2020-02-09 17:06] #364 closed

[2020-02-09 17:43] mbore commented on #376
I agree. What do you think about separate module `rho-extras` in which we could create `RefinedParser` (addressed in #260) and `AnyValParser` ?

[2020-02-09 17:49] zarthross commented on #376
Rather than having an `extras` module, I think refined support deserves its own module entirely.

With Refined it would be simple enough to provide a StringParser for all refined instances since it has a specific way to run the verifications... that's not really the case with AnyVal.  There is no standard way to run the apply/build/wrap etc method, and no standard output... So I really hesitate to

[2020-02-28 16:21] lmserrano opened #391 "Broken Links/URLs in `README.md` in branch `master`"
In the `README.md` file of the `master` branch, there seem to be the following broken links/URLs:

- Swagger Documentation - http://swagger.wordnik.com/
- Rho Scaladocs - http://rho.http4s.org/

[2020-04-05 23:39] #366 closed

[2020-04-05 23:54] zarthross commented on #376
After thinking about this, I don't think we want to add this kind of support at this time.

[2020-04-05 23:54] #376 closed

[2020-04-09 02:56] vegansk commented on #248
It supports OpenAPI 3 since december 2018: https://blog.postman.com/2018/12/11/postman-supports-openapi-3-0/

[2020-04-15 10:26] fancellu opened #406 "Where is RhoService?"
I see it in the docs, tutorial

Can't see it in rho-swagger 0.20.0, or in the source

[2020-04-18 16:49] rossabaker commented on #406
I think it's called `RhoRoutes` now, corresponding to http4s' move from `HttpService` to `HttpApp` and `HttpRoutes`, and the docs haven't fully caught up.

[2020-04-19 12:44] zarthross commented on #406
Ross is correct.  I've updated the wiki and put in a note to look at the [Rho Examples Project](https://github.com/http4s/rho/tree/master/examples/src/main/scala/com/http4s/rho/swagger/demo) for the most up to date examples.

[2020-04-19 12:44] #406 closed

[2020-05-09 13:35] RafalSumislawski opened #415 "Feature Idea: Serving swagger in YAML"
Swagger 2.0 can be represented either as JSON or YAML. Currently, rho generates only JSONs. It's possible to make a YAML from the modem generated by rho, and I think, having support for YAMLs out of the box, would be a nice addition to rho.

[2020-05-09 13:44] RafalSumislawski opened #416 "Feature Idea: Customisable generic type names"
Currently when we have a generic type `Foo[T]` and we parametrize it with `Bar` (`Foo[Bar]`), when what we get in the swagger file is a `Foo«Bar»`. This name contains two characters outside of the ASCII, which causes problems with some tools (https://editor.swagger.io/ for example). I think it would be nice to make the strategy of composing names for generic types customizable. For example, one ma

[2020-05-20 10:15] Adverg opened #420 "Is it possible to disable swagger.json endpoint and generate a plain json?"
I'd like to disable swagger.json endpoint and get plain JSON String. Is something like that possible to do?

[2020-05-20 11:14] #420 closed

[2020-07-01 09:30] adamtrousdale opened #432 "Release v0.21.0 with swagger webjar implementation"
Hi there, can v0.21.0 be released in its current state? I would like to use the swagger webjar functionaility

[2020-07-01 23:30] zarthross commented on #432
@adamtrousdale I will make some time on Friday to cut a release.  Thanks for the reminder!

[2020-07-05 00:49] zarthross commented on #432
Release v0.21.0-RC1 should be on its way to maven central.

See https://github.com/http4s/rho/runs/837771442

[2020-07-05 00:57] #432 closed

[2020-07-05 01:20] zarthross commented on #274
Done

[2020-07-05 01:20] #274 closed

[2020-07-05 01:20] zarthross commented on #258
using sbt-ci-release instead.  Does basically the same thing.

[2020-07-05 01:20] #258 closed

[2020-09-10 06:23] mcenkar opened #448 "Simple or-path produces incorrect tags"
Hi,

When using simple or-path:

`GET / ("foo" || "bar") |>> { () => "Hello!" }`

following `swagger.json` is produced:

[code]

`/foo` path gets `bar` tag and `/bar` path gets `foo` tag which leads to unnecessary entries in swagger ui:

![image](https://user-images.githubusercontent.com/11230749/92688620-f5c36780-f33d-11ea-8ab5-ae46406b86d0.png)

I would expect single tags on both routes.

Also i

[2020-09-20 05:12] zsluedem commented on #229
@wookievx
Got some problems with your example
[code]

[2020-12-13 18:46] #415 closed

[2020-12-13 18:46] #416 closed

[2020-12-21 00:26] zarthross commented on #448
Fixed in #454

[2020-12-21 00:26] #448 closed

[2021-01-25 22:26] hoshikon opened #492 "Getting 405 Method Not Allowed from combined routes"
When I combine these routes and hit the second route, it returns **405 Method Not Allowed**. I don't know if this is intended or a bug but I would prefer to have it aligned with http4s library.

[code]

[2021-02-21 23:21] zarthross commented on #492
This is a bit of a tricky one.  We have 2 choice based on how the frameworks work.

1. Let `routes1` return `None` if the route matches but the method isn't found.
   - Pros:
      - The above example works and gives a `200 OK`
      - This is the same as Http4s DSL
   - Cons:  If there really are no methods for that route, it would give a `404 Not Found` instead of `405 Method Not Allowed`
2. Let

[2021-02-21 23:22] zarthross commented on #492
I'd be curious if @rossabaker has any thoughts on this?

[2021-02-21 23:28] zarthross commented on #391
Fixed, Thank you

[2021-02-21 23:28] #391 closed

[2021-05-09 08:16] LLCampos opened #526 "Demo example doesn't work"
Version `0.21.0`.

If I copy/paste this [demo](https://github.com/http4s/rho/blob/master/examples/src/main/scala/com/http4s/rho/swagger/demo/Main.scala) to a sbt project I get the following error:

[code]

Edit: Code in the [tutorial](https://github.com/http4s/rho/blob/master/Rho.md) also seems to be broken...

[2021-07-01 08:36] nicobao commented on #248
Any plan on supporting OpenAPI V3? I think htt4s need to support both V2 and V3, because:
- [openapi-diff](https://github.com/OpenAPITools/openapi-diff#feature) is only compatible with OpenAPIv3
- [Google Endpoints requires Swagger v2 specs](https://issuetracker.google.com/issues/78271318?pli=1)
- [OpenAPI v2](https://github.com/springfox/springfox/issues/1738) will generate duplicated enumeration

[2021-07-02 14:02] zarthross commented on #248
I would love to be able to support both swagger versions.  I haven't had time yet to make the necessary changes, so PRs are welcome, but I would certainly be open to dual support.

[2021-07-27 01:05] jarrodcodes opened #573 "Non-class Scala types break TypeBuilder"
Recently I switched to Rho for Swagger doc generation. My models include Refined types that had exceptions while building their Swagger models. The main reason this was breaking was because the Refined types were not classes and this case was not handled. I propose adding a check for this and handling it with the provided fallback method.

With this change:
![image](https://user-images.githubuserc

[2021-08-03 18:31] #573 closed

[2021-10-07 16:46] blmeadows opened #606 "Logger Options in RhoRoutes"
Is having this final logger a requirement/strong preference for the RhoRoutes?

https://github.com/http4s/rho/blob/9f078b2277cdf9ef21694c3347b37a3082d520a9/core/src/main/scala/org/http4s/rho/RhoRoutes.scala#L33

[2021-10-14 08:07] RobertoUa opened #609 "Publish scala 3 artifacts"

[2021-11-28 03:36] zarthross commented on #609
I would love too, but Rho makes heavy use of Shapeless, and old Scala Reflection type tags.  It'll need a serious refactor to make this happen.  Its work in progress.

[2021-11-28 03:39] zarthross commented on #526
You'll need to add the `rho-swagger` and `rho-swagger-ui` artifacts as dependencies.

[2022-01-27 20:03] TheDIM47 opened #651 "Getting 405 Method Not Allowed from combined routes with custom path value parsers and authentication"
Route:
[code]
Test:
[code]
When `authenticated` returns FailureResponse, test failed with 405 "Method Not Allowed":
[code]
But, when `authenticated` returns SuccessResponse, test passed.
[code]
OK!

Where:
[code]
PathVar decoders (simplified):
[code]

[2022-03-16 15:11] etspaceman opened #669 "Assembly doesn't like CollectionConverters"
Currently, providing the CollectionConverters object manually in the scala.jdk package as a part of Rho causes assembly issues, as projects with dependencies on Rho and the Scala Collection Compat will require conflicts to be resolved.

From what I understand, this was originally done to avoid bincompat issues during updates, as the collection compat library broke some rules early on. This has got

[2022-07-12 14:03] MarmaladeSky opened #715 "Http4s and main dependencies update"
Hi there,
Is there any chance to update Rho to fit the latest version of Http4s?
Let me illustrate what I mean with the PR.

[2022-07-26 13:07] armanbilge opened #717 "Maintainers wanted"
Things seem dormant here, and @FrancescoSerra seems interested to step up :) @http4s/rho wdyt?

[2022-07-26 13:39] rossabaker commented on #717
Absolutely.  Francesco is doing a great job in a couple other places.

[2022-07-26 13:44] FrancescoSerra commented on #717
much appreciated @rossabaker, and thanks for adding me!

[2022-07-26 13:57] zarthross commented on #717
👋 I'm still around, just been busy.  Happy to have the help though!

[2022-07-26 14:29] FrancescoSerra commented on #717
I'll try to be as helpful as possible! :grinning:

[2022-07-26 17:35] rossabaker commented on #717
@zarthross took over when Bryce retired and is the resident Rho expert.  @FrancescoSerra is new around the org, but doing great.  I figured there were several low hanging steward merges, and then you two might like to find a bit of time to talk about the road ahead whenever life permits.

[2022-07-26 17:37] armanbilge commented on #717
https://github.com/http4s/rho/pull/714 would be a great start, @marmaladesky was asking about it.